[2015-09-14 19:08] mpaolini opened #2 "Blocking call when loading credentials in Session.create_client"
in {{aiobotocore.session.Session}} we make use of {{self.get_credentials}} that is implemented in botocore.session.Session.

This method's implementation depends on credential provider config, and in some cases it can block while doing IO, for instance when [loading from ini file](https://github.com/boto/botocore/blob/develop/botocore/config.py#L130) or when [using a IAM] role(https://github.com/b

[2015-09-14 20:13] jettify commented on #2
Thanks for thre report! On my project we explicitly pass key and secret as keyword argumens, so I missed this issue.

I will take a look. Can we assume that credential loading happens only once? If so I think, spawning thread in order to read small file once is not worth effort.

[2015-09-14 20:15] mpaolini commented on #2
Yep only once, if it is OK for you I can cook a pach for this

[2015-09-14 20:18] jettify commented on #2
Sure, please do.

[2015-09-14 20:28] jettify opened #3 "Port s3 pagination api to python 3.5 using *async for* statement"

[2015-09-14 22:27] mpaolini commented on #2
Which `botocore` version are you targeting? looks like the one in `setup.py` is a bit old. Lots of test fail...

[2015-09-14 22:51] mpaolini commented on #2
ok I found out . it is `botocore<1.2` (they've changed the way the endpoint is created so it doesn't work on 1.2)

[2015-09-19 00:57] harai opened #6 "TypeError: __init__() missing 1 required positional argument: 'user_agent'"
I got the following error when I tried to run the [Basic Example](https://github.com/jettify/aiobotocore#basic-example):

[code]

It seems that the number of arguments to `botocore.endpoint.EndpointCreator` doesn't match.

When I installed aiobotocore with `pip install git+https://github.com/jettify/aiobotocore.git@master`, botocore of version *0.109.0* was also installed as a dependency.  Is this

[2015-09-19 08:40] jettify commented on #6
Thanks for report! What version of botocore are you using?

Yes, current version in master works only with 0.109.0, but I have PR https://github.com/jettify/aiobotocore/pull/5 to update aiobotocore to work with most recent botocore.

[2015-09-20 00:38] harai commented on #6
I am using 0.109.0 of botocore.  After updating to the latest `update-botocore` branch, it started working.

I REALLY need this package.  I appreciate your efforts.  Thanks!

[2015-10-01 07:55] jettify commented on #6
Just noticed, we are using aiobotocore with botocore==1.1.7. I have fixed setup.py

[2015-10-01 07:56] jettify commented on #6
r

[2015-10-20 22:21] obmarg opened #9 "Forcing content-type to 'application/octet-stream' breaks SQS requests."
I've been trying to get aiobotocore working with SQS, but was getting errors because the content-type being sent with the request was always set to `application/octet-stream` when SQS requires `application/x-www-form-urlencoded`.

I've managed to track this down to these lines https://github.com/jettify/aiobotocore/blob/master/aiobotocore/endpoint.py#L105-L112 that hard-code `application/octet-str

[2015-10-20 23:02] jettify commented on #9
Thanks for report! There reason for hard coding content-type was that in old version aiohttp there was no way to skip it. aiohttp simply added this header before sending request. When botocore calculates signature, content type is not present but added later, this leads to 403 error due to wrong signature.

New aiohttp has a way to skip auto generate headers https://github.com/KeepSafe/aiohttp/pul

[2015-11-06 01:01] thatjpk opened #11 "SimpleDB BatchDeleteAttributes Request is Malformed"
I'm attempting to use aiobotocore to do `batch_delete_attributes` requests to SimpleDB, but the request is kicked back as malformed.  A simple example that reproduces this based on the S3 example in the readme:

[code]

When run, this outputs:

[code]

However, the same code using botocore synchronously works:

[code]

Which outputs:

[code]

For reference, the virtualenv this is running in looks

[2015-12-04 23:31] alanc10n commented on #9
Obmarg's patch appears to work with SQS but breaks S3 (I get a SignatureDoesNotMatch error on S3 PutObject operations).

[2015-12-06 20:23] jettify commented on #9
@obmarg @alanc10n I have dropped hard coded `content-type` (https://github.com/jettify/aiobotocore/commit/f70cc4854944fc6ea260608c75eefa3285cd8eb9), new version should work for both: SQS and S3. Could you tests new version?

[2015-12-06 20:24] jettify opened #13 "Drop support for python 3.3 since aiohttp does not support this version"

[2015-12-06 20:31] jettify commented on #11
Definitely bug, could you test new version? this bug should be fixed

[2015-12-07 00:23] cbrichford opened #14 "ImportError in client.py"
Steps to reproduce:

1. create a fresh virtualenv: ```virtualenv -p /usr/local/bin/python3 ab```
2. install aiobotocore:

[code]
3. Try to import aiobotocore: ```./ab/bin/python -c 'import aiobotocore'```

Output:
[code]

The root cause seems to be the fact that get_service_module_name is referenced despite not existing in botocore 1.1.7 which aiobotocore specifies in the install_requires variable

[2015-12-07 08:12] jettify commented on #14
Thanks for detailed report! Fixed in https://github.com/jettify/aiobotocore/pull/15

[2015-12-07 08:12] #14 closed

[2015-12-07 12:26] jettify opened #16 "move to python >=3.5"
Do we want to move to python 3.5 only?

[2015-12-07 15:21] obmarg commented on #9
This seems to have fixed SQS support - thanks!

[2015-12-09 22:38] #9 closed

[2015-12-09 22:40] jettify commented on #6
@harai `update-botocore` was merged to master, issued should be resolved

[2015-12-09 22:40] #6 closed

[2015-12-09 22:41] #13 closed

[2015-12-21 07:12] oselivanov opened #17 "get_object is broken in case of concurrent execution."
I've tried to build simplest possible web server talking to s3 and found an issue:

Run following example:
[code]

Then use

        siege -c 4 -t 600s 'http://localhost:8080/'

You'll get following output:

[code]

In logs:
[code]

It seems that in case of multiple requests obj['Body'] might be broken.
[code]

Even if you try to move this block
[code]
inside of the "get_content" function it will

[2015-12-21 15:47] jettify commented on #17
Interesting, I will take a look.

On Mon, 21 Dec 2015 at 09:12 Oleg Selivanov <notifications@github.com>
wrote:

[2015-12-21 22:03] jettify commented on #17
My be problem is related to this issue: https://github.com/KeepSafe/aiohttp/issues/631 ?

[2015-12-21 22:20] jettify commented on #17
could you try same thing with presigned URL to confirm?

[2015-12-23 21:56] oselivanov commented on #17
I have not time to test it these days, maybe later. But assumption that aws breaks in case of 2 concurrent requests per second sounds awkward.
I just know when we use vanilla boto in production in thread pool with a lot of concurrent requests it works just fine.

[2015-12-30 16:22] oselivanov commented on #17
Ok, I hacked some aiobotocore and botocore code and confirmed an issue. aiobotocore is currently broken by design for streaming requests (probably all requests greater than N Kb).

It works like that:
1. User sends request and got response and StreamReader
2. User sends second request, StreamReader of first request is no longer valid since this second request uses same connection.
3. User tries to

[2015-12-30 17:06] oselivanov commented on #17
Ok, I hacked some aiobotocore and botocore code and confirmed a reason of the issue. aiobotocore is currently broken by design for streaming requests (probably all requests greater than N Kb).

It works like that:
1. User sends request and got response and StreamReader
2. User sends second request, StreamReader of first request is no longer valid since this second request uses same connection.
3.

[2015-12-30 17:06] oselivanov commented on #17
Solution #1
https://github.com/jettify/aiobotocore/pull/18

[2015-12-30 18:37] jettify commented on #17
Interesting, aiobotocore does use pool but unbounded one, `aiohttp.ClientSession` implements connection pool using `aiohttp.TCPConnector`....

[2015-12-30 18:51] jettify commented on #17
so for request connection acquired from pool, and released once `resp.read()` called, from this point of view your PR just does releasing connection sooner.

[2015-12-30 19:16] oselivanov commented on #17
It didn't dig that deep and unfortunately don't know internals of botocore, so cannot judge.

[2016-01-30 01:48] thehesiod commented on #3
fixed in PR #24

[2016-02-01 07:31] jettify commented on #17
Should be fixed now, by #19, I tested manually with you script looks like working. Issue was super tricky, due to garbage collector collected response as result FlowControlStreamReader stoped working correctly.

Thanks you for finding and helping to fix this issue!

[2016-02-01 07:31] #17 closed

[2016-02-01 07:34] jettify opened #25 "Find out how to test integration code on travis ci"
Currently I need to execute tests manually on each PR, we need to find how to use amazon credentials on travis ci in safe way.

[2016-02-01 07:35] jettify opened #26 "Fix huge pagination logic"

[2016-02-01 07:38] jettify opened #27 "Cover all S3 API with simple test by first release"

[2016-02-02 07:14] oselivanov commented on #17
Thank you!

[2016-02-14 11:31] jettify opened #31 "add body.set_socket_timeout(10) API"
We need to support `body.set_socket_timeout` API like in botocor:

[code]

[2016-03-01 08:32] eestrada commented on #16
Such a change would be problematic for my needs; I'm targeting systems that only support 3.4 as the latest version. All the code that works in 3.3+ should still work the same in 3.5. What would be the benefit of cutting off support for older versions?

[2016-03-01 09:58] jettify commented on #16
No much benefit, my project still using python 3.4 too. Just developing for python 3.5 more fun, you know `async/await` syntax :)

 Since there are users still on python 3.4 I think it would not be wise to break compatibility.

[2016-03-01 09:58] #16 closed

[2016-03-01 10:00] jettify commented on #11
Should be fixed in new version, please feel free to reopen if issue is still there.

[2016-03-01 10:00] #11 closed

[2016-03-01 16:02] eestrada commented on #16
I get it. I like shiny new features too :grinning:. Thanks for holding off though :+1:.

[2016-03-03 21:22] errno opened #34 "example doesn't work"
When you try to run https://github.com/aio-libs/aiobotocore/blob/master/examples/simple.py on Python 3.5.1 it fails with:
[code]

Unfortunately, it doesn't look like a bug in example, but rather bug in a library.

[2016-03-03 22:33] jettify commented on #34
looks like botocore internals changed, in mean time you can use `botocore (1.3.26)`.

[2016-03-04 13:25] jettify commented on #34
I pined botocore version in https://github.com/aio-libs/aiobotocore/pull/35

[2016-03-06 01:05] thehesiod opened #36 "[Tracking] roll into botocore"
just wondering, thanks!

[2016-03-06 17:49] jettify commented on #36
I do not object, just do not see clean way how to accomplish this. Could be tricky because `botocore` also supports `python2.7` and `aiobotocore` uses `yield from` heavily.

[2016-03-07 19:20] thehesiod commented on #36
perhaps making the aio portion available for python3.x only? I think they do a similar thing with pyzmq: http://pyzmq.readthedocs.org/en/latest/api/zmq.asyncio.html

[2016-03-19 11:51] jettify commented on #34
fixed

[2016-03-19 11:51] #34 closed

[2016-04-04 16:47] zloidemon opened #45 "Example with custom S3 api server"
Hi,

I have my own S3 api server, but I can't get data because cert can't verify. I changed verify=False in client it not solve an issue. Then I've seen code and found that is reading configuration from where? Also, I have my own certs bundle (ca_certs) I changed settings in client to read that, but i got same error with verification. Would you like to provide an example file with custom S3 api se

[2016-04-04 20:06] thehesiod opened #46 "aiobotocore will halt all aio coroutines on retry due to use of time.sleep"
I've fixed this in https://github.com/aio-libs/aiobotocore/pull/44

[2016-04-04 20:54] jettify commented on #45
Honestly, I have never tried to supply cert bundle or anything to do  with certs...

As for none aws s3, `aiobotocore` should be able to connect, but that could be tricky since you need to disable `fix_s3_host` event in order to connect to custom host.

[2016-04-04 20:56] jettify commented on #45
So you can try to do something like: `session.unregister('before-sign.s3', fix_s3_host)`

[2016-04-04 21:13] jettify opened #47 "Fix retry logic"
see discussion in https://github.com/aio-libs/aiobotocore/pull/44

[2016-04-05 10:18] zloidemon commented on #45
You can try it easy with install [sx](http://www.skylable.com/install/) and [libres3](http://www.skylable.com/install/#libres3). It takes around 10-20 min of real life.

[2016-04-06 23:32] thehesiod commented on #47
sound test timeout errors and various connection errors to ensure it retries.  May need to use a mocking

[2016-04-07 00:47] thehesiod commented on #47
should be fixed in 44

[2016-04-08 06:16] #47 closed

[2016-04-08 06:17] jettify opened #49 "Add tests for python 3.5 features like async with and async for"

[2016-04-11 05:25] thehesiod commented on #36
I see this is being tracked in https://github.com/boto/botocore/issues/458

[2016-04-19 23:37] #46 closed

[2016-06-16 18:29] nhumrich opened #51 "add to pip"
Can this get added to PyPi so it can be pip installed?

[2016-06-17 20:42] nhumrich commented on #51
Looks like the aiobotocore package is already claimed on pypi, and the setup.py file is ready to go. Any reason this hasn't been published yet?

[2016-06-17 21:04] jettify commented on #51
Hi, I will release library in day or two. The reason I have not released it yet because consider it in alpha stage (but I use it in production) and api also could be changed.

[2016-06-20 19:12] nhumrich commented on #51
Thats fine, you can release alpha things so pypi. There is a classifier for that: `Development Status :: 3 - Alpha`

Just version it 0.x.x and people will understand.

[2016-06-28 13:29] Shellu opened #52 "create_client fails"
When i try to create a client, using the simple example for instance, I instantly get this error:

Traceback (most recent call last):
  File "server/test_aws.py", line 36, in <module>
    loop.run_until_complete(go(loop))
  File "/usr/local/lib/python3.5/asyncio/base_events.py", line 337, in run_until_complete
    return future.result()
  File "/usr/local/lib/python3.5/asyncio/futures.py", line 27

[2016-06-29 16:57] alanc10n commented on #52
Yeah, I saw this as well today. I manually downgraded botocore to 1.4.28 and that seemed to fix the problem. In the past, I've seen botocore make frequent changes that break aiobotocore; I think this is just another breaking change from them.

[2016-07-01 07:56] jettify commented on #52
yes you are right, this library relies on internal interfaces, that botocore changes frequently... I will pin version of botocore for now. :disappointed:

[2016-07-01 20:31] thehesiod opened #53 "latest botocore breaks aiobotocore"
[code]

looks like we need a fix or to fix the botocore version...long term we need a merge :)

Broken due to https://github.com/boto/botocore/pull/936

[2016-07-01 20:36] thehesiod commented on #53
when this happens we need to bump up the version # because we already have code which binds a aiobotocore version to a fixed version of botocore

[2016-07-01 20:39] jettify commented on #53
I will pin version to `=>1.4.0, <=1.4.28 ` for now
see related issue https://github.com/aio-libs/aiobotocore/issues/52

[2016-07-01 20:40] thehesiod commented on #53
cool, ya was just about to confirm that 1.4.28 works.

[2016-07-01 20:48] jettify opened #55 "Update aiobotocore to support botoctore >1.4.28"

[2016-07-01 20:49] jettify commented on #52
botocore version pinned. I have created issue to track synchronization with botocore https://github.com/aio-libs/aiobotocore/issues/55

[2016-07-01 20:49] #52 closed

[2016-07-01 20:50] jettify commented on #53
Version pinned. So close for now, here will track update progress https://github.com/aio-libs/aiobotocore/issues/55

[2016-07-01 20:50] #53 closed

[2016-07-01 20:51] thehesiod commented on #55
just created https://github.com/aio-libs/aiobotocore/pull/56

[2016-07-01 21:01] jettify commented on #51
I have release this package to pypi https://pypi.python.org/pypi/aiobotocore/0.0.5

[2016-07-01 21:01] #51 closed

[2016-07-01 21:02] jettify commented on #31
i believe it is not possible, set_socket_timeout  uses blocking api for socket

[2016-07-01 21:02] #31 closed

[2016-07-01 21:02] #26 closed

[2016-07-01 21:09] jettify commented on #36
the best way to handle this issue if client could be somehow abstracted from query/url/headers builder from IO. Nice approach also used here https://github.com/cablehead/python-consul

[2016-09-21 12:10] graingert opened #58 "release py3 wheels"

[2016-09-21 12:24] graingert opened #59 "provide mypy type annotation"

[2016-10-04 15:08] demmsnt opened #64 "Unclosed connection when reading data"
I get example https://github.com/aio-libs/aiobotocore/blob/master/examples/simple.py
replace line 28 on
[code]

And when i run this code i have message from aiohttp (i think):

In tests https://github.com/aio-libs/aiobotocore/blob/master/tests/test_basic_s3.py#L107 i see resp['Body'].close() But if i add this line i get error AttributeError: 'FlowControlStreamReader' object has no attribute 'close

[2016-10-04 19:26] jettify commented on #64
That is strange, what is your aiobotocore version? could you try master?

[2016-10-04 19:30] demmsnt commented on #64
Yes i try use github version. For example - my code. try it. http://pastebin.com/hB2GyE7M and i got files truncated 16384 bytes size. If you have a different result, tell me.... But that not only my workstation.

[2016-10-04 19:39] jettify commented on #64
Truncated file is expected since you call `readany()` instead `read()`, what confuses me why you have access to `FlowControlStreamReader` since we are wrapping it with `ClientResponseContentProxy`. I need to debug it more carefully

[2016-10-04 19:41] demmsnt commented on #64
Thank you. You have same result, as i understand?

[2016-10-04 20:19] jettify commented on #64
I just executed this test, without any issues:
[code]
could you double check `aiobotocore` version? may be compare source code from your virtual env and current master?

[2016-10-04 20:31] demmsnt commented on #64
i think i have version bug.

[code]

Can i get correct version of botocore?

[2016-10-04 20:35] demmsnt commented on #64
Maybe in requirements need mention correct version botocore?

[2016-10-04 20:35] jettify commented on #64
yeah, already did

[2016-10-04 20:37] jettify commented on #64
version should be ok:
[code]

[2016-10-04 20:48] demmsnt commented on #64
Fixed. Version trouble.... Sorry for took time..

[2016-10-04 20:48] #64 closed

[2016-10-04 20:48] jettify commented on #64
not a problem

[2016-10-04 20:50] demmsnt commented on #64
But if i use readany i have truncated data. With read all good.

[2016-10-10 19:20] jettify opened #65 "Test botocore with fake AWS server"
Fake server library:
https://github.com/spulec/moto

[2016-10-10 19:20] #27 closed

[2016-10-10 19:20] #3 closed

[2016-10-20 23:19] scribu opened #68 "Unclosed response/connection errors"
Here's a simplified version of the code I have for fetching all objects from an S3 bucket:

[code]

And here's some example output:

[code]

Why do I get those warnings? Do I need to use some sort of context manager?

[2016-10-20 23:29] scribu commented on #68
I get the same errors even if I use `session.create_client()` as an async context manager, like so:

[code]

[2016-10-22 09:41] jettify commented on #68
Thanks for report!  I will take a look.

[2016-10-23 15:02] allan-simon opened #69 "document how to get back a file from s3"
I've just helped somebody answering "how to get a file from s3 and iterate over it line by line"  in stackoverflow there

http://stackoverflow.com/questions/40203620/aiobotocore-aiohttp-get-s3-file-content-and-stream-it-in-the-response/40204293#40204293

and it's only looking in the source code  and this pull request https://github.com/aio-libs/aiobotocore/pull/19
that's I've been able to answer i

[2016-11-01 12:02] asvetlov commented on #69
@jettify ?

[2016-11-16 19:52] adamrothman commented on #68
I'm not sure whether this issue is related to what I'm experiencing, but when I run tests that use aiobotocore, I get "Unclosed client session" errors from aiohttp:

[code]

My tests are succeeding, and this code is intended for use in a server environment where the session is expected to live as long as the process, but is there something I should be doing differently to when using `aiobotocore.g

[2016-11-16 20:06] jettify commented on #68
client has `close()` coroutine, that should close aiohttp session. Probably bug sitting somewhere

[2016-11-16 20:11] adamrothman commented on #68
@jettify Yup sorry I just found that in the source. Calling that when I'm finished seems to be fine. Is it necessary to `await` it? This comment https://github.com/aio-libs/aiobotocore/blob/master/aiobotocore/client.py#L203 seems to indicate that it is not required.

[2016-11-16 21:17] jettify commented on #68
That comment is outdated (will fix that very soon), in new aiohttp sesson.close is coroutine http://aiohttp.readthedocs.io/en/stable/client_reference.html#aiohttp.ClientSession.close so await is required.

[2016-11-16 22:00] jettify commented on #68
@scribu  I am sorry for late reply (got distracted to aiohttp_admin and absolutely forgot about maintaining duties), you have unclosed resource
[code]
should help. We should think about better API, current one is ugly...

[2016-11-16 23:30] scribu commented on #68
Ok, thanks for the pointer.

[2016-11-19 12:02] jettify commented on #55
fixed in #74

[2016-11-19 12:02] #55 closed

[2016-11-22 20:39] thehesiod commented on #68
we made it work like this before:
[code]

[2016-11-24 20:33] jettify opened #78 "New maintainers"
@thehesiod @vas3k you did great job on supporting aiobotocore, I want to thank you for that!

If you still interested in this project I would like to invite you to aio-libs as aiobotocore maintainers. Rules are simple:
1) on each change please create pull request
2) each PR should be reviewed and tested
3) if PR is not commented for more than 3 days by other maintainers, feel free to merge it
4) b

[2016-11-27 05:32] thehesiod commented on #78
Want to thank you for creating this project and support in changes! sounds great to me!  I'm not quite clear though on what types of responsibilities are required outside PRs I create, could you elaborate?  I want to make sure I have enough free time to handle this.  Thanks!

[2016-11-27 14:51] vas3k commented on #78
Hey. It is a honor for me to be invited to the maintainers and Make Aiolibs Great Again :D But unfortunately I think have not enough time and responsibility to do it well. So let me just stay as a contributor. Maybe if I will have more pull-request ideas, I will write you :)

[2016-11-28 22:58] jettify commented on #78
Thanks for replies folks!

There are no strict responsibilities, it is not paid job, if you have free time just help to keep project alive:
* creating/reviewing PRs
* try to keep up with botocore
* improve docs
* improve tests coverage

[2016-11-28 23:00] thehesiod commented on #78
cool count me in.  I'll help as much as possible.

[2016-11-28 23:07] vas3k commented on #78
Yep, me too :) I've subscribed to all notifications. I'm thinking about documentation improvement. When I searched for it, I thought it's a dead project because lack of docs.

[2016-11-29 08:01] jjonek opened #79 "HTTP Proxy settings not passed to aiohttp request"
HTTP proxy defined in *HTTP_PROXY* and *HTTPS_PROXY* environment variables are not passed to *aiohttp request*, which makes the library unusable in private VPCs for other things than S3 with VPC endpoint.

Looks like the proxy configuration is read using utils derived from *botocore* but then it's just ignored in the AioEndpoint constructor.

[2016-12-06 02:54] freedomofkeima opened #83 "S3 Put Object Failed with aiohttp==1.1.6"
Hi,

I found a problem using `aiobotocore` with the latest version of `aiohttp`. Apparently, [the latest aiohttp](https://github.com/KeepSafe/aiohttp/compare/v1.1.5...master) depends on [`yarl==0.8.1`](https://github.com/aio-libs/yarl/compare/v0.7.1...v0.8.1) or greater. If I downgrade it to `aiohttp==1.1.5` with `yarl==0.7.1`, the problem doesn't occur.

## Problem

If I'm using a parenthesis on

[2016-12-06 08:25] jettify commented on #83
Thanks for report! Probably in recent version of yarl encoding logic was
changed a bit. We can freeze yarl version for near future but root issue
should be fixed anyway. Will take a look.

On Tue, Dec 6, 2016, 04:54 Iskandar Setiadi <notifications@github.com>
wrote:

[2016-12-18 15:53] hellysmile opened #85 "aiohttp 1.2+ ClientSession issues"
ERROR [asyncio] Creating a client session outside of coroutine

due

https://github.com/KeepSafe/aiohttp/blob/c4539a7f3851483c985fa885f7e4a151e3bc3d43/aiohttp/client.py#L57

I can propose to implement lazy(on_demand) _aio_session initialization, if it is ok, I'll make pull request

[2016-12-18 16:57] asvetlov commented on #85
Please no.
Explicit session lifetime is better than implicit one.
If you initialize a session on demand -- when do you finalize it? Lazy cleanup scares me.

The change is made for forcing the rule: lifetime of async objects should be shorter than event loop run time.

Right now aiohttp doesn't raise exception but a warning.
I guarantee this behavior will be not changed for 1.5 years at least.

[2017-01-01 01:10] alexmac opened #90 "Python 3.6 support"
aiobotocore is currently dependent on botocore<=1.4.73 which has a compatibility problem with Python 3.6 - the fix is available in botocore>=1.4.87

[2017-01-03 20:47] thehesiod commented on #78
so here's the relevant code from `aiohttp.client.ClientSession.request`:

[code]

note that timeout is sent to the request_class, which is used for the stream read.  So as long as your read_timeout is > than your connect timeout (which should be default) it should be fine.

[2017-01-17 21:53] thehesiod commented on #90
fixed by https://github.com/aio-libs/aiobotocore/pull/93

[2017-01-17 21:53] #90 closed

[2017-01-17 21:55] thehesiod commented on #83
fixed in https://github.com/aio-libs/aiobotocore/pull/91

[2017-01-17 21:55] #83 closed

[2017-01-17 22:00] thehesiod opened #96 "submit latest release to pypi"
Should release the latest one to pypi, unfortunately I don't have perms ;)

[2017-01-18 10:05] jettify commented on #96
I will do this tonight, and will add autodeploy on tag, so everyone with access to repo can deploy to pypi

[2017-01-18 22:47] jettify commented on #96
@thehesiod done, added autodeploy on tag, just create release here https://github.com/aio-libs/aiobotocore/releases and it will be deployed to pypi automatically.

[2017-01-18 22:47] #96 closed

[2017-01-18 22:48] thehesiod commented on #96
cool

[2017-01-18 23:13] jettify commented on #85
@asvetlov thanks for clarification, closing

[2017-01-18 23:13] #85 closed

[2017-01-18 23:14] #78 closed

[2017-01-20 19:24] thehesiod commented on #79
fixed by https://github.com/aio-libs/aiobotocore/pull/97

[2017-01-20 19:24] #79 closed

[2017-01-20 19:40] thehesiod commented on #69
added to homepage

[2017-01-20 19:40] #69 closed

[2017-01-20 20:27] allan-simon commented on #69
thanks :)

[2017-01-21 09:08] jettify commented on #65
https://github.com/aio-libs/aiobotocore/pull/99

[2017-01-21 18:39] jettify commented on #45
I am not sure if this fix you problem, but you can pass `endpoint` parameter to the client, this way we test s3 with mocking server. Closing for now.

[2017-01-21 18:39] #45 closed

[2017-01-21 18:41] jettify commented on #59
I think `botocore` project should provide mypy type annotation first, since `aiobotocore` changes api very little.

[2017-01-21 18:45] jettify opened #104 "add CONTRIBUTING.rst file to the root directory"
We need to provide `CONTRIBUTING.rst` file with dev instruction to this repo.

Similar to: https://github.com/aio-libs/aiomonitor/blob/master/CONTRIBUTING.rst

[2017-01-30 22:00] jettify commented on #65
Tests infrastructure merged, I believe we can close this

[2017-01-30 22:00] #65 closed

[2017-01-30 22:00] jettify commented on #25
#99 we are using mock server now

[2017-01-30 22:00] #25 closed

[2017-01-30 22:05] jettify opened #112 "Release aiobotocore 0.2.0"
We have nice changes already, I belive we can release new version to PyPI

[2017-01-30 22:57] thehesiod commented on #112
https://github.com/aio-libs/aiobotocore/releases/tag/0.2.0
bumped to dev ver: https://github.com/aio-libs/aiobotocore/pull/114

[2017-01-30 22:57] #112 closed

[2017-01-30 23:10] jettify commented on #112
Good practice also to post release updates here https://groups.google.com/forum/#!forum/aio-libs for example something like https://groups.google.com/forum/#!topic/aio-libs/QDo_Ccfzjas I always forget to do this :)

[2017-02-14 20:02] graingert commented on #58
@jettify bump

[2017-02-14 20:16] graingert opened #122 "make session a context manager"
currently end up with:

[code]
[code]

[2017-02-14 20:52] thehesiod commented on #122
you should be doing:
[code]

[2017-02-14 21:02] graingert commented on #122
I didn't think session or client were async... yet

On 14 Feb 2017 20:52, "Alexander Mohr" <notifications@github.com> wrote:

[2017-02-14 21:06] thehesiod commented on #122
just updated the readme on the front page, good catch

[2017-02-15 09:41] Gr1N opened #124 "Got exception while receiving SQS messages"
Hi, as I see `yarl` deps updated and I got to many exception...

[code]

Any ideas?

[2017-02-15 14:48] graingert opened #125 "allow passing in an aiohttp ClientSession to allow host code to manage pooling etc."

[2017-02-15 20:44] thehesiod commented on #124
can you give a testcase?  what version of aiohttp/botocore are you using?

[2017-02-15 20:49] thehesiod commented on #125
IMHO this would not bode well with how botocore works, botocore has several `Config` options to handle pool size, etc per client, not per session.  See:

* `max_pool_connections`: https://github.com/boto/botocore/blob/develop/botocore/config.py#L52
* `read_timeout`: https://github.com/boto/botocore/blob/develop/botocore/config.py#L41
* `connect_timeout`: https://github.com/boto/botocore/blob/devel

[2017-02-15 20:50] thehesiod commented on #122
can we close this?

[2017-02-15 20:55] #122 closed

[2017-02-16 08:30] Gr1N commented on #124
Found issue, fixed with 0.9.6 release of `yarl` (https://github.com/aio-libs/yarl/releases/tag/0.9.6)...

[2017-02-16 08:30] #124 closed

[2017-02-16 20:49] thehesiod commented on #68
I think with the above we can close this?

[2017-02-16 20:53] thehesiod commented on #104
probably should morph https://github.com/aio-libs/aiobotocore/blob/master/BOTOCORE_README.rst into this new file

[2017-02-21 06:13] jaymell opened #126 "Error uploading file in us-west-2"
Hello. I get an error when trying to upload to a bucket in us-west-2 region. This script works without issue if I upload to a bucket in us-east-1 :

[code]

Encountered this error with version '0.2.1'

Code is largely copied from example:
[code]

[2017-02-21 09:01] hellysmile commented on #126
Seems Your bucket was created in another region, then You are trying to access

[2017-02-21 19:27] thehesiod commented on #126
can you check to see if it works in botocore?

[2017-02-22 15:08] jettify commented on #58
I will take a look, as far as i can tell we need to add `bdist_wheel` to our deploy config.

https://docs.travis-ci.com/user/deployment/pypi/

[2017-02-22 15:13] graingert commented on #58
You can also go back and upload wheels to old releases

On 22 Feb 2017 15:08, "Nikolay Novik" <notifications@github.com> wrote:

I will take a look, as far as i can tell we need to add bdist_wheel to our
deploy config.

https://docs.travis-ci.com/user/deployment/pypi/

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/aio-

[2017-02-22 21:02] #58 closed

[2017-02-22 21:08] jettify commented on #58
@graingert could you please elaborate why we should do upload of wheel for old releases? Since package is pure python, i do not see huge advantage of wheel, but may be i miss something

[2017-02-22 21:09] #59 closed

[2017-02-22 21:09] jettify commented on #68
Closing for now, feel free to open new issue

[2017-02-22 21:09] #68 closed

[2017-02-22 21:10] graingert commented on #58
It's just something you can do. Makes stuff go faster for people on older versions

[2017-02-22 21:13] thehesiod commented on #58
ya, I'm not seeing a benefit of using wheels, wheels are typically for modules that need to compile source files so you don't need to install the development packages on the destination box.

[2017-02-22 21:13] jettify commented on #104
Good point, github shows link to `CONTRIBUTING.rst` in PR if this file present. So file should contain basic stuff like create environment, running tests and content of `BOTOCORE_README.rst`

[2017-02-22 21:14] graingert commented on #58
Can you at least ship a new release?

[2017-02-22 21:14] jettify commented on #104
also we can add PR template like https://github.com/KeepSafe/aiohttp/blob/master/PULL_REQUEST_TEMPLATE.md

[2017-02-22 21:17] jettify commented on #58
We do not have any significant changes for new release... I can upload wheel for current version manually, each next release will have those automatically

[2017-02-22 21:18] graingert commented on #58
Either is fine

[2017-02-22 21:28] jettify commented on #58
Done https://pypi.python.org/pypi?name=aiobotocore&version=0.2.1&:action=files

[2017-02-22 21:29] graingert commented on #58
Neato thanms

[2017-02-23 04:37] jaymell commented on #126
I'm not sure what the issue was, but the script is working now without modification. Thanks for the quick response.

[2017-02-23 04:37] #126 closed

[2017-02-27 22:57] andymo opened #130 "RuntimeError with aiobotocore + Tornado"
Hopefully this is the right repo to post this issue to, but I suspect the issue may be from `aiobotocore`'s calling of `aiohttp`.

The example code:
[code]

The full exception:
[code]

I have read both https://github.com/KeepSafe/aiohttp/issues/1180 and https://github.com/KeepSafe/aiohttp/issues/877 which are most probably related to this issue.

This example code is a modification of the working

[2017-02-27 23:57] thehesiod commented on #130
there's no reason to use `aiohttp.Timeout` from what I see, will create PR switching to `asyncio.wait_for`

[2017-02-28 00:20] thehesiod commented on #130
from what I see this is an issue with your usecase/tornado.  aiobotcore and its dependencies require the use of an Event loop that's compatible with `BaseEventLoop`.  The `BaseEventLoop` requires support of `current_task` and it doesn't seem like tornado sets/provides this.

[2017-03-01 01:04] thehesiod commented on #130
btw, can you try with the latest aiohttp? The codepath has changed significantly in regard to timeouts

[2017-03-01 02:24] andymo commented on #130
Regarding Tornado's use of `current_task`, it was brought up in the two issues I linked previously, as well as most other issues opened regarding tornado + aio libraries. I figured since a fix did make its way into aiohttp, aiobotocore could support it. Otherwise I understand, it's not really aiobotocore's responsibility :)

I am on the latest pypi version of aiohttp (1.3.3), which should have all

[2017-03-07 09:13] thehesiod opened #131 "head_object is broken"
it will not return the ETag, the issue is due to https://github.com/aio-libs/aiobotocore/pull/116.  botocore expect the ETag to be in the correct case.  We can't fix this until https://github.com/KeepSafe/aiohttp/issues/1570 is fixed. After that is fixed we can switch to raw_headers and use botocore's CaseInsensitiveDict

[2017-03-07 09:42] thehesiod commented on #131
@Fedorof @jettify I knew this was going to bite us =)

[2017-03-07 21:57] #131 closed

[2017-03-07 23:16] jettify commented on #131
what a pain, headers supposed to be case insensitive...

[2017-03-20 21:31] graingert opened #137 "aiohttp has moved MultiDict maybe import from multidict package instead?"
[code]

[2017-03-20 21:46] jean553 opened #138 "ImportError: cannot import name 'MultiDict'"
Hi,

I get the following error when executing my service with Python 3.5.2:

[code]

I simply import aiobotocore and asyncio in my file `handle_get_connectivity_status.py`.

My libraries versions:
[code]

The requirements.txt I used to install my packages (as mentionned in the README.md of aiohttp and aiobotocore):
[code]

Am I missing something or did I misundertand something ? ( I didn't get thi

[2017-03-20 23:42] jettify commented on #138
Hi, most likely you are using new `aiohttp` https://github.com/aio-libs/aiohttp/releases/tag/2.0.0 (released today) it has a lot of new features (parser from nodejs) as well as backward incompatible changes. Fo now you can use aiohttp 1.3.x we will fix 2.0.x support soon.

[2017-03-20 23:48] jettify commented on #137
yes, aiohttp updated to 2.0.0 (released today) with backward incompatible changes. Fix require more then just moving MultiDict, if you are interested see my testing branch here https://github.com/aio-libs/aiobotocore/pull/135/files

[2017-03-21 08:57] graingert commented on #138
Duplicate of #137

[2017-03-21 08:59] graingert commented on #137
Fixed by #139

https://github.com/aio-libs/aiobotocore/commit/e06c29d8e36f04a7981fce0a13387e54ec05c524

[2017-03-21 08:59] #137 closed

[2017-03-21 10:07] jettify commented on #138
aiohttp version pined for now, feel free to reopen

[2017-03-21 10:07] #138 closed

[2017-03-21 10:08] jettify opened #140 "Fix aiohttp 2.0.0 support"
I did some testing here https://github.com/aio-libs/aiobotocore/pull/135 for now aiohttp version is fixed.

[2017-03-21 10:09] jettify commented on #137
created issue to track aiohttp support https://github.com/aio-libs/aiobotocore/issues/140

[2017-03-21 12:37] jean553 commented on #138
Hi, it works by changing the aiohttp version. Will wait for this fix to be merged (https://github.com/aio-libs/aiobotocore/pull/135/files).  Thanks!

[2017-03-22 16:05] graingert opened #142 "vendor botocore"
Currently aiobotocore and botocore are version locked, and new versions of botocore have been released.

This makes it impossible to install the latests versions of both awsclia and aiobotocore when using pip-compile (from pip-tools).

If you vendor (copy the source code into aiobotocore/_vendor/.../) it would be possible to use both in the same virtualenv without conflicts.

[2017-03-22 16:09] graingert commented on #142
See https://github.com/aio-libs/aiobotocore/pull/141

[2017-03-22 16:10] thehesiod commented on #142
I'm not sure this is so simple, botocore has its own requirements so technically you'd have to vendorize them as well.

[2017-03-22 16:14] graingert commented on #142
@thehesiod that's ok because botocore depends on version ranges, and those can just be copied into the aiobotocore install_requires.

[2017-03-22 16:20] graingert commented on #36
@jettify an option for abstraction of IO from any code: https://gist.github.com/graingert/ca6cdd5d9ae2e18ca917b4594ac8a633

[2017-03-22 19:33] thehesiod commented on #142
if you're going to use install_requires then you can just do that with botocore as well :)

[2017-03-22 19:36] graingert commented on #142
?

[2017-03-22 19:43] thehesiod commented on #142
your claim is that you'd like to be able to install latest awscli + aiobotocore together, and can't right now because awscli uses the latest botocore and aiobotocore hasn't patched to that version yet, so proposed solution is to vendor in botocore, however botocore has locked requirements.  Your proposed solution of adding these requirements to install_requires of aiobotocore has the same problem

[2017-03-22 19:45] thehesiod commented on #142
The only way I see this of working is to always match awscli and aiobotocore with versions that have the same underlying botocore..if you need a newer version of aiobotocore that's fine, I'd open a issue and it can be done with not too much work.

[2017-03-22 19:46] graingert commented on #142
False, botocore has unlocked dependencies

[2017-03-22 19:46] thehesiod commented on #142
uhm https://github.com/boto/botocore/blob/develop/setup.py#L8

[2017-03-22 19:47] graingert commented on #142
That looks unlocked to me

[2017-03-22 19:53] thehesiod commented on #142
tell me what happens if next version of botocore changes python-dateutil to >= 4, or they change docutils to docutils>=0.10 <= 1.0 ?  it will break

IOW botocore depends on specific revisions of certain modules, and with a vendored botocore can and will break this workflow if you install aiobotocore with vendored botocore before the latest botocore.

[2017-03-22 20:40] graingert commented on #142
Yeah but that's way less likely than botocore releasing a new minor version

[2017-03-22 22:34] thehesiod commented on #142
broken is broken :)  If we're going to fix this I rather not do a half-baked solution.

[2017-03-22 22:45] thehesiod opened #143 "upgrade botocore version"
I think there's three tasks here until there's official asyncio support from boto

1) Do the manual process
2) create a script that will create an upgrade issue each time there's a new version of botocore detected
3) Investigate if we can automate this any more
    - detect files added/removed
    - detect new methods/signatures, function hashes, etc

[2017-03-22 22:51] jettify commented on #143
pyup-bot  will create PR with botocore version bumps, but setup.py still should be updated manually

[2017-03-22 22:53] thehesiod commented on #143
cool, ya we can then re-use that template PR to do the *real* work :)

[2017-03-22 23:06] jettify commented on #143
Looks like 1.5.28 green with our tests
https://travis-ci.org/aio-libs/aiobotocore/jobs/214043233

[2017-03-22 23:07] thehesiod commented on #143
I'll take a diff look shortly

[2017-03-22 23:08] jettify commented on #143
Here is PR with change log https://github.com/aio-libs/aiobotocore/pull/146

[2017-03-22 23:11] jettify commented on #143
@thehesiod do you think we need to test at least several version between 1.5.0 and 1.5.28 ?

[2017-03-22 23:12] thehesiod commented on #143
good news, no changes to our sources, looks like they just changed json files and some credential stuff...I think we can range it from 1.5.0-1.5.28

[2017-03-22 23:13] thehesiod commented on #143
this is the kind of change which we could approve by bot...basically no changes to certain "critical" files, and widen the allowed range.

[2017-03-22 23:17] jettify commented on #143
agreed, so lets merge #146 and release new version.

[2017-03-22 23:23] thehesiod commented on #143
but don't you want to range it instead of fix it?

[2017-03-22 23:31] jettify commented on #143
I was thinking about `botocore>=1.5.0, <1.5.28` in `setup.py` and leave fixed version in `requirements-dev.txt`, bot tracks only `requirements-dev.txt` file

[2017-03-22 23:35] jettify commented on #143
Have to go, feel free to do release and do versions if you have time today, otherwise I can do that tomorrow.

[2017-03-23 00:50] thehesiod commented on #143
done

[2017-03-23 00:50] #143 closed

[2017-03-23 08:19] jettify commented on #143
Thanks a lot!

On Thu, Mar 23, 2017, 02:50 Alexander Mohr <notifications@github.com> wrote:

[2017-03-27 20:17] jettify commented on #140
We have PR https://github.com/aio-libs/aiobotocore/pull/152 with a fix.

[2017-03-28 07:08] achimnol opened #155 "Suggestion: Use localstack for testing"
https://bitbucket.org/atlassian/localstack
This project emulates AWS APIs in the HTTP server level instead of mocking API client methods.
We could write more realistic test cases using this, though I haven't tried this personally yet.

[2017-03-28 07:40] jettify commented on #155
We use moto in same way, there is fixture that starts http mocking server
in separate process, all moto tests use proxy setting in order to make call
to local server instead.

On Tue, Mar 28, 2017, 10:08 Joongi Kim <notifications@github.com> wrote:

[2017-03-28 15:46] jettify commented on #155
Here is our code that does mocking server logic https://github.com/aio-libs/aiobotocore/blob/99fd4bfd0151595a04cd6800fe35ec509e983fd6/tests/mock_server.py#L16-L70. `localstack` looks nice but I have not tried it too.

[2017-03-31 16:15] Ludachrispeed opened #161 "support waiters"
It seems there's currently no support for creating waiters with aiobotocore clients (for example, see EC2 waiters: https://botocore.readthedocs.io/en/latest/reference/services/ec2.html#waiters)

Since botocore waiters necessarily block for a _long_ time, it would be especially cool if aiobotocore could support them!

[2017-03-31 19:12] thehesiod commented on #161
could you give some example code that shows the error?

[2017-04-01 06:48] jettify commented on #140
fixed via #152

[2017-04-01 06:48] #140 closed

[2017-04-01 06:52] jettify opened #164 "Release 0.3.0"
I think it is time to release 0.3.0 version, with updated aiohttp support.

Changes
---------
* Added support for aiohttp>=2.0.4(thanks @achimnol)
* update botocore requirement to: botocore>=1.5.0, <=1.5.33

[2017-04-01 18:24] jettify commented on #164
Done https://pypi.python.org/pypi/aiobotocore/0.3.0

[2017-04-01 18:24] #164 closed

[2017-04-04 13:06] Ludachrispeed commented on #161
@thehesiod Sure thing. I haven't used moto but hopefully these examples show what I'm trying to do:

1. Basic example of using a botocore waiter. No setup required; this just creates one SQS queue, so it's not too expensive (this works): [Gist][1]
2. Same example using standard asyncio (this works): [Gist][2]
3. And finally here is the same example using `aiobotocore`, along with the error that ha

[2017-04-04 16:38] thehesiod commented on #161
perfect thanks so much!  We'll take a look asap

[2017-04-04 23:51] pohmelie commented on #126
Have same issue, it looks like redirect wont work. http://docs.aws.amazon.com/AmazonS3/latest/dev/Redirects.html
The problem maybe gone since DNS propagated. Right now I have two hours since bucket created and got:
`botocore.exceptions.ClientError: An error occurred (TemporaryRedirect) when calling the GetObject operation: Please re-send this request to the specified temporary endpoint. Continue t

[2017-04-04 23:55] thehesiod commented on #126
this is the relevant line: https://github.com/aio-libs/aiobotocore/blob/master/aiobotocore/endpoint.py#L182  however I think it's incorrectly using a MultiDict instead of a CIMultiDict.  Oddly we have a unittest (https://github.com/aio-libs/aiobotocore/blob/master/tests/test_basic_s3.py#L391 IIRC) that's passing so either we need a new unittest or need to fix the unittest.

[2017-04-05 00:00] pohmelie commented on #126
I did not dig deep into #116 much. Please, clarify me, is this problem solvable with `aiobotocore` changes or this require `aiohttp` changes too?

[2017-04-05 01:11] thehesiod commented on #126
sorry updated my comment with correct location in endpoint.py, issue is most likely in aiobotocore

[2017-04-05 16:55] thehesiod commented on #125
do you still feel strongly about this?  If not let's close this.

[2017-04-05 16:56] graingert commented on #125
I'd still rather be able to pass in a whole aiohttp ClientSession.

[2017-04-05 16:57] thehesiod commented on #125
what is your response to my first comment?  @jettify what do you think?

[2017-04-05 16:59] thehesiod opened #170 "timed out / server disconnect exceptions do not appear to be correct"
This is an investigate and potential bug.  I just saw in our application the following exception:

[code]

I think what's happening is that aiohttp is cancelling the task after the provided connect/read timeout.  We need to investigate what error botocore throws for timeouts and throw that instead, or at the minimum throw an asyncio timeout error.

[2017-04-05 17:10] graingert commented on #125
when passing the actual session you could raise an exception if any of the other config variables were non None.

[2017-04-05 17:12] thehesiod commented on #125
there are defaults for all those even if you don't specify them

[2017-04-05 17:12] thehesiod commented on #125
also as botocore doesn't allow you to do this, why should aiobotocore

[2017-04-05 17:23] thehesiod commented on #170
a co-worker stated that aiohttp can cancel a task if the server disconnects, so we should make sure we throw the same/similar error as botocore in this case as well

[2017-04-05 17:26] thehesiod commented on #170
also we should make sure retries are working in these scenarios, I have a feeling they're not as we really shouldn't see these kinds of errors

[2017-04-05 17:41] graingert commented on #125
@thehesiod I'd like botocore to do it too, but I don't use it.

[2017-04-05 19:44] jettify commented on #125
We configure timeouts and headers very carefully in order to maintain proper request signature, external session object may breaks things...

[2017-04-09 07:40] jettify opened #176 "Add couple simple test cases for SNS servies"
We have several users of aiobotocore and SNS service it would be nice to have couple of tests with moto library.

[2017-04-09 07:55] jettify commented on #142
I believe we can close this issue, now aiobotocore has relaxed constrains `'botocore>=1.5.0, <=1.5.33'`

[2017-04-09 07:55] #142 closed

[2017-04-14 18:49] thehesiod commented on #161
@Ludachrispeed mind testing out this PR?

[2017-04-14 18:58] thehesiod opened #181 "Add moto'd Waiter tests"
See https://github.com/aio-libs/aiobotocore/issues/161 for examples

[2017-04-14 20:29] #181 closed

[2017-04-14 20:43] #161 closed

[2017-04-14 20:44] thehesiod commented on #161
just need to release a new version after confirmed by @Ludachrispeed

[2017-04-18 01:01] Ludachrispeed commented on #161
This is working great! Thanks for this feature @thehesiod

For posterity, here's an example that worked for me:
[code]

## output
[code]

[2017-04-18 09:18] thehesiod commented on #161
ok official 0.3.1 release pushed to pypi

[2017-04-18 09:19] thehesiod commented on #161
also for posterity, the simple unittest I made for this using moto: https://github.com/aio-libs/aiobotocore/blob/master/tests/test_waiter.py

[2017-04-18 09:21] thehesiod opened #184 "switch moto to run in a thread instead of process"
I have some code I did here https://github.com/DataDog/dd-trace-py/pull/248 which runs ddtrace in a thread.  btw what's weird is why the regular decorator style (after adding coroutine support) doesn't work...it seems like they patch socket.socket or something.

[2017-04-18 10:15] jettify commented on #161
Thanks for testing! Could you please create PR with your code and put it in
examples directory?

On Tue, Apr 18, 2017, 03:01 Chris Clark <notifications@github.com> wrote:

[2017-04-18 11:32] jettify commented on #184
Could you please explain benefits of thread in our case? I used process because:
1) better isolation
2) it is easy to terminate process, thread does not have such api

[2017-04-18 13:02] #184 closed

[2017-04-21 22:09] groner opened #190 "check_for_200_error() AttributeError trying to set http_response.status_code"
I hit this while uploading hundreds of thousands of files to S3 (full stack trace below):
[code]

This is using 0.2.2.

[code]

All I have is the stack trace, and I don't have any easy way to reproduce it.

[code]

[2017-04-21 22:10] groner commented on #190
Without having dug in very much, it  seems like this might be hitting the  `ClientResponseProxy.status_code` read-only property.

[2017-04-21 22:13] groner commented on #190
I'll see if I can't nail down the details with pdb.

[2017-04-22 05:33] thehesiod commented on #190
Highly recommend checking out pycharm. Makes debugging a cinch :). Thanks for the report! I'm recovering from a surgery but will help if you guys don't figure it out by the time I'm better.

[2017-04-22 05:33] thehesiod commented on #190
Highly recommend checking out pycharm. Makes debugging a cinch :). Thanks for the report! I'm recovering from a surgery but will help if you guys don't figure it out by the time I'm better.

[2017-04-22 05:35] thehesiod commented on #190
Oh and know there's a known core Python SSL leak with certs that have CRLs in 3.5.3+. Will be resolved in next release of 3.xs.

[2017-04-29 20:50] jettify commented on #190
Looks like @groner is right, botocore tries to patch `ClientResponseProxy.status_code` status code of request for reasons explained here:
https://github.com/boto/botocore/blob/1.5.0/botocore/handlers.py#L60-L85

We can add setter for `status_code`, but this looks very ugly.

[2017-04-30 08:11] thehesiod commented on #190
Ugh. Sounds like we need to send a response proxy to botocore with getter and setter to make it mutable

[2017-05-06 14:59] jettify commented on #176
fixed via https://github.com/aio-libs/aiobotocore/pull/198

[2017-05-06 14:59] #176 closed

[2017-05-06 18:11] thehesiod commented on #170
another issue is when reading the stream from a `get_object`, need to compare to botocore if this triggers a retry as well as I believe right now it does not

[2017-05-06 18:50] thehesiod commented on #170
actually I think this is our fault, closing

[2017-05-06 18:50] #170 closed

[2017-05-09 06:21] thehesiod commented on #155
just looked at localstack and it uses moto under the covers for S3, closing this issue.  Furthermore, note that I've found several shortcomings in moto: https://github.com/spulec/moto/pull/922#issuecomment-300069050

[2017-05-09 06:21] #155 closed

[2017-05-17 21:25] pfreixes opened #213 "Build a reliable release life cycle"
Hi @jettify sorry the channel used to approx you, I didn't know how to do it.

Right now the unique serious attempt to have `botocore` working in an asynchronous environment is this project, unfortunately IMHO there is still work to do to give a full asynchronous package working for all of the AWS services. I would like to help in the direction to have this package in the best position to make it

[2017-05-18 06:15] jettify commented on #213
Hi @pfreixes I think it is good place to have this conversation. I and @thehesiod maintain this package and we appreciate any help we can get and always open to suggestions.

`botocore` is largish (20k source , 20k tests) project we try hard to reuse/import code from there. As result we ported most of s3 functional tests, that covers s3 API since we both use it somewhere in other projects. For oth

[2017-05-18 16:53] thehesiod commented on #213
btw big caveat with #2, is that even if it's green, we need to manually check the changes to ensure they didn't touch sections of files we're replacing.

ya ideally we could re-use the boto tests.

I was just thinking maybe a way of doing this would be to have an adapter `botocore` module which does `loop.run_until_complete` against aiobotocore for each boto API.

[2017-05-18 21:16] pfreixes commented on #213
Yea that's the "problem" of this methodology, but I'm still pretty convinced that this is a small problem if you compare with the current strategy.

Getting the diff between the last change in the major version, from *1.4.49* to *1.5.0* there were only a few changes in one integration test `tests/integration/test_client.py`. Also getting some random diffs between the minor releases the changes are

[2017-05-21 02:51] thehesiod opened #221 "[Tracking] reset stream support"
I just ran into this error for the first time with aiobotocore, logging here for us to check if we're missing any adaptation from aiohttp 2.x

[code]

[2017-05-21 03:03] thehesiod commented on #221
validated that the body is getting closed in aiohttp 2.x

[2017-05-21 03:38] thehesiod commented on #221
due to aiohttp 2.x change

[2017-05-22 19:55] thehesiod commented on #221
have submitted a provisional fix for this until we have a final resolution on the aiohttp issue I logged

[2017-05-22 19:57] jettify commented on #36
We need to start thinking how to patch `botocore` so we can plugging our code using public api, for instance first easy change is to update https://github.com/boto/botocore/blob/develop/botocore/session.py#L108-L109 `Session` object to accept `ClientCreator`, so in `aiobotocore` we just pass `AioClientCreator` without coping screen of code.

[2017-05-22 20:06] thehesiod commented on #36
perhaps we can have a class by class goal of rolling into botocore to make it bite-sized chunks of work.  But I think before that we need a high-level strategy defined of how we want this to integrate into botocore to create a straw-man we can work towards and get botocore dev approval on the design.

[2017-06-05 22:40] thehesiod opened #245 "[Tracking] Config read_timeout not behaving correctly"
We just ran into this due to: https://github.com/aio-libs/aiohttp/issues/1954.  Here until we have a resolution to that issue.  To work around this we'd have to disable read_timeout, and re-impl read() to have a timeout per chunk.

[2017-06-08 19:57] thehesiod commented on #245
Unfortunately one of the aiohttp devs doesn't understand both precedence and the literal meaning of read_timeout so we'll have to re-implement this ourselves. I'll work on this today.  Many people are going to need similar functionality (including me in my other projects) so I'm going to see if we can allow users to use the fix for their own usage of aiohttp.   I'm not 100% certain we'll be able t

[2017-06-12 21:01] adamrothman commented on #130
@andymo The simplest fix is to just wrap your calls in a Task, like so:

[code]

[2017-06-12 22:01] thehesiod commented on #130
btw, I'm disabling the use of aiohttp's read_timeout (https://github.com/aio-libs/aiobotocore/pull/248) as it is implemented incorrectly, this may help your cause.   If getting rid of conn timeout helps as well we can look into that.  I'm really unhappy with their timeout impl :(

[2017-06-13 00:02] adamrothman commented on #245
Man that guy is being such a pain in the ass. Thanks for fighting the good fight @thehesiod!

[2017-06-13 01:22] thehesiod commented on #245
@adamrothman  I don't know how many ways I can prove something is wrong, lol

[2017-06-19 21:33] thehesiod opened #258 "[Tracking] support compressed responses"
See https://github.com/aio-libs/aiohttp/issues/1992 and comment in endpoint.py

[2017-06-20 01:12] thehesiod commented on #213
btw new update is I've just pushed does hash checks for the methods we replace/override to help us do automatic version bumps and point us to areas that need to be investigated (as a temporary helper).

I think what @jettify means is that if there were an official way to replace botocore's underlying HTTP stack we'd then it would greatly reduce the complexity of integration.  Further if done corre

[2017-06-20 01:14] thehesiod commented on #245
re-opening until ideally aiohttp supports this natively

[2017-06-20 01:16] thehesiod commented on #213
FYI we have this related issue: https://github.com/aio-libs/aiobotocore/issues/36

[2017-06-22 21:54] pfreixes commented on #213
Yeps @thehesiod ..

I didn't know or I wasn't able to find the #36 when I've opened this issue. In any case, I can understand your point of view and the rationale exposed in some of the comments in #36 that is definitely aligned with the main idea of keeping just a core and inject the async implementation in somehow. That, in an ideal world, will give us the chance to make de facto `aiobotocore` f

[2017-06-22 22:01] jolleon commented on #221
I'm seeing this issue intermittently as well. @thehesiod looks like aiohttp folks are not too keen on fixing it there as you suggested... is this something that can be fixed directly in aiobotocore?

[2017-06-22 22:02] thehesiod commented on #221
latest release should work ok, see https://github.com/aio-libs/aiobotocore/pull/248.  Also I think I've convinced them to release a fix soon that will support this workflow natively.

[2017-06-22 22:32] jolleon commented on #221
Awesome, will use this, thanks!

[2017-06-22 22:33] thehesiod commented on #221
@jolleon we had a dev run into this when downloading multiple gigs of data :)

[2017-06-22 22:35] thehesiod commented on #213
@pfreixes great discussions!  ya, I discussed with the c++ devs (https://github.com/aws/aws-sdk-cpp/issues/122github.com/aws/aws-sdk-cpp/issues/122) about my idea and they said they were thinking about it but ya everything is still far away :)  Feel free to open issues to help us move in a direction where aiobotocore keeps on shrinking.  So the only issue that really comes to mind are things like

[2017-06-22 22:36] jolleon commented on #221
Interesting, for me it happened in a service that uploads a lot of small files to S3... might need to investigate performance a bit deeper at some point...

[2017-06-22 22:39] thehesiod commented on #221
now that you mentioned it, I have an issue I'm investigating where my read_timeout is not being obeyed...I'm hoping this fixes it.

[2017-06-23 06:59] pfreixes commented on #213
what can I see here #2 its just a matter of fix the PR to make it compatible with the last changes in `botocore`, nothing a big deal? or I'm missing something?

Ok let's guess that we can address all of these issues, let's try to answer what IMHO is the most important question:

My concern about that is. Despite, we will be able to inject the perfect layer to make botocore async we will be still f

[2017-06-26 21:33] chuck1 opened #267 "[Tracking] Getting TemporaryRedirect when using aiobotocore but not when using botocore"
I have a recently created a new bucket and am trying to read and write to it. If I understand correctly, when a bucket is created, you can get TemporaryRedirect errors for a while. But I have found that I only get that error when using aiobotocore, not when using botocore. Below is my actual test program. The first half, the botocore part, runs with no problems and I get good responses. But the pu

[2017-06-26 22:27] thehesiod commented on #267
interesting, looking into this

[2017-06-26 23:01] thehesiod commented on #267
btw for tests like these I suggest using `AWS_PROFILE`: http://boto3.readthedocs.io/en/latest/guide/configuration.html#shared-credentials-file

so I just repro'd with this more complete test:
[code]

digging into it

[2017-06-26 23:11] thehesiod commented on #267
I have a feeling this was introduced with https://github.com/aio-libs/aiobotocore/commit/e44d9ba6308ac745907f6b4bcd192e4b02636779  I'm still trying to figure out why it was done

[2017-06-26 23:35] thehesiod commented on #267
hah, reverting that fixes this testcase but breaks the other one, I'll need to investigate the old testcase now

[2017-06-26 23:45] thehesiod commented on #267
ahh, IIRC sometimes AWS puts the redirect location in the body and not the header (where it belongs), which means that if we tell aiohttp to follow redirects it will fix one case, if we turn it off botocore will handle the other case...argh, this will be interesting to fix.

[2017-06-27 00:06] thehesiod commented on #267
fascinating, when run with botocore the "Location" header is set on the redirect response, so we need to figure out how to get it to be populated with aiohttp

[2017-06-27 01:35] thehesiod commented on #267
aha!  So apparently requests does not treat the response as a redirect if the "location" is not in the header.  https://github.com/boto/botocore/blob/develop/botocore/vendored/requests/sessions.py#L99  ends up calling https://github.com/boto/botocore/blob/develop/botocore/vendored/requests/models.py#L643 which means it won't fail if the "location" tag is missing, and instead will bump it up to bot

[2017-06-27 02:29] thehesiod commented on #267
ok so I created a work-around until we get an official fix from aiohttp.  I'm going to do some more testing and if @jettify approves will roll this into a new release.

[2017-06-27 05:44] dfee opened #269 "Async context manager for client can be sync."
It seems that since aiohttp's ClientSession's close() is no longer asynchronous, we don't need the async context manager for it... and we also don't need the async context manager for aiobotocore's client.

https://github.com/aio-libs/aiobotocore/blob/master/aiobotocore/client.py#L141
https://github.com/aio-libs/aiohttp/blob/master/aiohttp/client.py#L43

Can we update the code?

[2017-06-27 13:16] asvetlov commented on #269
That's wrong.
`ClientSession.close()` are going from sync to async.
We are in the middle of translation period now but `.close()` will definitely become a pure async coroutine up to end of year.

[2017-06-27 13:43] thehesiod commented on #269
Agreed. We don't want to pidgin hole ourselves into sync when async may later be required. Closing unless there's a good reason to reopen. Also the outer is important to close the session and thus all the pool connections. Please don't say it's not needed if you don't understand why it was put there to begin with :)

[2017-06-27 16:52] dfee commented on #269
@asvetlov very interesting!

@thehesiod humor me, please.

Why is an async context manager needed for aiobotocore today? Indeed, a sync context manager would do fine (today), but as mentioned above, the current design provides scaffolding for future architecture.

Maybe you read a bit too quickly, or were a bit too brutish in your comment?

[2017-06-27 20:16] thehesiod commented on #269
@dfee sorry for being snappy, just finding too many bugs recently.

When ending a request context, one of the following can happen:
1) the connection can be immediately released to the connection pool if the body was read (no wait)
2) the connection has to be closed and a new connection created (body not read of client closed connection).  In this scenario ideally aiohttp would wait for the connec

[2017-06-27 21:11] jettify commented on #267
Good catch! Please do release :)

[2017-06-27 21:13] thehesiod commented on #267
thanks @jettify and thanks @chuck1 for bringing this to our attention! I'll try to get a release out today with the fix

[2017-06-27 21:16] dfee commented on #269
It really only helps in the case of using it in a pytest fixture.

Even using `@pytest.mark.asyncio` (from `pytest-asyncio`), we can't use async context managers in fixtures because there is no way to `yield` from within the block.

Though I guess I could manually call `__aenter__` and `__aexit__` I wanted to see what was actually happening under the covers.

[2017-06-27 21:23] thehesiod commented on #269
aha, ya sounds like pytest needs an enhancement then because this is a crucial feature of asyncio :)  Have you thought of using asynctest?  That's what I use for this type of test.  I'll do a little more googling re pytest.

[2017-06-27 21:23] jettify commented on #267
Thanks @thehesiod ! Hope one day you will tell me how you manage to find/fix bugs so quickly :)

[2017-06-27 21:27] dfee commented on #269
Apparently async fixtures are supported now... https://github.com/pytest-dev/pytest-asyncio#async-fixtures

[2017-06-27 21:29] thehesiod commented on #269
oh yay! =)

[2017-06-27 21:33] jettify commented on #269
Works only for py3.6 :)

[2017-06-27 21:38] thehesiod commented on #267
my secret is pycharm :)   Then just run both cases in parallel.

[2017-06-27 21:39] thehesiod commented on #267
oh, and be high on caffeine, lol

[2017-06-27 21:41] thehesiod commented on #269
hmm, I tried on 3.5 seems to work

[2017-06-27 21:49] jettify commented on #269
Have you used `yield` ? That keyword only possible in python3.6 https://www.python.org/dev/peps/pep-0525/

[2017-06-27 22:04] thehesiod commented on #267
@chuck1  ok aiobotocore 0.4.1 released with fix

[2017-06-27 22:04] thehesiod commented on #267
btw we're going to leave this issue open to remind us to remove the hack when aiohttp releases a fix

[2017-06-27 22:32] thehesiod commented on #269
oh ya, I was just testing being able to write a test as `async def` so you can use a `async with`.  Note to dfee you can make the test as optional by version by using textwrap.detent and wrapping it with a version test, I stole that idea from the ratelimiter project :)  Another thing is via tox or whatever only running certain test files with certain versions of python.

[2017-07-07 14:49] jettify opened #285 "Create stubs for documentation"
We need to add documentation, as a first step, just create simple stub and add README.rst information and probably examples.

[2017-07-07 21:28] thehesiod commented on #245
update: asvetlov said he'd impl it for is

[2017-07-09 12:55] jettify opened #288 "Help with simple aiobotocore usage examples for different AWS services"
In order to ease adoption of aiobotocore we need bunch of examples for different services, personally, I am not big AWS user myself, worked only with S3, so need your help for other services.

Examples should be short, self describing and be complete python program.

[2017-07-09 15:29] zkanda commented on #288
This would be very awesome, I'm trying to work out in SQS but I can't seem to model it well with long polling. So an example would be greatly appreciated. :+1:

[2017-07-09 20:13] jettify commented on #285
initial version created at http://aiobotocore.readthedocs.io/en/latest/#

[2017-07-09 20:14] jettify commented on #285
btw @thehesiod do you have readthedocs.io account?

[2017-07-09 20:16] jettify commented on #269
can we close this issue?

[2017-07-09 20:20] jettify commented on #125
Closing issue for now, looks like we are not going to implement this.

[2017-07-09 20:20] #125 closed

[2017-07-09 20:21] jettify commented on #130
@thehesiod do you think we can close this?

[2017-07-09 20:22] #104 closed

[2017-07-09 20:24] thehesiod commented on #269
we just need to add a comment why it's an async context manager

[2017-07-10 15:51] thehesiod commented on #130
I believe so

[2017-07-10 16:06] #130 closed

[2017-07-17 22:37] thehesiod commented on #190
I'll try to look at this soon, sorry for the delay, forgot about this!

[2017-07-17 22:38] thehesiod opened #295 "S3 `get_object` of key that has 'Content-Encoding' metadata set to `gzip` returns wrong data type"
I just ran into this, this is due to https://github.com/aio-libs/aiohttp/issues/1992

[2017-07-17 22:44] thehesiod commented on #190
looks like a simple fix, have a PR to fix this, @groner let me know if you'd like us roll a release with this fix.

[2017-07-18 23:35] morissette commented on #288
I'm working on cloudwatch currently; will write an example when implemented.

[2017-08-14 04:38] sourcepirate opened #320 "How do i upload huge files with aiobotocore."

[2017-08-14 18:47] thehesiod commented on #320
I haven't tried this yet but theoretically it should work like botocore.  Can you try with an `io.BytesIO` instance as the `Body` to `put_object` ?  If it doesn't work we can fix it

[2017-09-04 10:19] georgebihtas opened #337 "Aiobotocore support for botocore blocks custom EMR AMIs"
AWS now supports custom EMR AMIs (Amazon EMR version 5.7.0 or later). This functionality is supported by botocore >= 1.6.1

Current version of aiobotocore supports 'botocore>=1.5.71, <=1.5.78'

Could we please get the aiobotocore updated in order to support botocore >= 1.6.1? It's a very crucial feature and it blocks a number of projects.

[2017-09-04 10:22] hughchristensen commented on #337
This would be very helpful.

[2017-09-04 12:49] jettify commented on #337
Have you tried explicitly install botocore==1.6.1 ? It may work without any changes?

[2017-09-04 12:51] jettify commented on #337
Looks like tests for 1.7.1 are green so there is great chance that simply upgrading botocore will work
https://github.com/aio-libs/aiobotocore/pull/335

[2017-09-04 13:00] georgebihtas commented on #337
I have tried aiobotocore 0.4.4 with botocore 1.6.1 and breaks.

It seems to work with aiobotocore 0.4.4 and and botocore 1.5.78 but I had to copy

 botocore/botocore/data/emr/2009-03-31/service-2.json

from botocore 1.6.1 to botocore 1.5.78

I suspect this is going to be the case with 1.7.1 as well

[2017-09-04 14:04] jettify commented on #337
can you share your testing snippet?

[2017-09-04 14:35] georgebihtas commented on #337
Unfortunately I don't have one. I tested it using our API and I was able to start an EMR cluster and I could see the custom AMI's id on AWS web interface.

But if I pip install aiobotocore 0.4.4 and botocore 1.6.1 seems to fail

If I understand correctly what you suggest here: https://github.com/aio-libs/aiobotocore/blob/master/CONTRIBUTING.rst

is more or less what I have already done. I would ra

[2017-09-04 15:51] jettify commented on #337
If you submit PR with required changes and tests (looks like moto mocking library, has some endpoints working for EMR), we can release new version right after merge of PR.

[2017-09-04 15:53] jettify commented on #337
I will try to find time this week to investigate this issue.

[2017-09-05 06:05] thehesiod commented on #337
There are a couple core changes required to update to 1.6.x+. See our notes for how to proceed. I can also help looking into it, almost muscle memory now ;)

[2017-09-05 09:15] georgebihtas commented on #337
@jettify I am afraid I have only ever used aiobotocore/botocore as a client and do not have any experience of the core library. I am afraid I am not in a position to submit any PR (in a reasonable amount of time) - if I could I would of course do so. Sorry for this.

@thehesiod it sounds like you do have good idea of the problem ("couple core changes required to update to 1.6.x+.") - would you be

[2017-09-05 22:04] terrycain commented on #288
@zkanda  In the docs there is now a producer consumer example with SQS that uses WaitTimeSeconds to set the polling interval - https://aiobotocore.readthedocs.io/en/latest/examples.html#sqs

Hope that helps.

[2017-09-05 23:55] bsamuel-ui commented on #320
You probably want to open a socket and write data to it. Unfortunately, requests to S3, like all AWS requests, have to be signed. (Even an unauthenticated request needs an MD5 hash.) The facility S3 provides for large amounts of data is [a multipart upload](http://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html).

First be certain that the S3Transfer class in regular boto3 really doesn't

[2017-09-06 15:46] hughchristensen commented on #337
@jettify @thehesiod is there anything you can do to help here? We have a team here who are desperate to access this. Thank you!

[2017-09-06 16:00] jettify commented on #337
@thehesiod have a PR with botocore update https://github.com/aio-libs/aiobotocore/pull/341 Can you test it?

[2017-09-07 08:50] hughchristensen commented on #337
@jettify @thehesiod thank you so much for getting out the updated version of aiobotocore -- we are testing this now for our build.

[2017-09-07 09:00] georgebihtas commented on #337
Thank you very much for releasing 0.4.5 :)

[2017-09-07 11:08] jettify commented on #337
All the thanks to @thehesiod he did all the job!

[2017-09-07 15:51] thehesiod commented on #337
and @jettify for the review w/ requirements fix :)

[2017-09-08 01:59] sourcepirate commented on #320
Thanks! do we have multipart upload as a part of aiobotocore ?

[2017-09-08 03:15] thehesiod commented on #320
Aiobotocore supports everything botocore does

On Sep 7, 2017 6:59 PM, "Sathya Narrayanan" <notifications@github.com>
wrote:

[2017-09-08 11:23] jettify commented on #320
In my project I use aiobotocore multipart upload for fast uploading of large files, basically 10 coroutines push large file by chunks in parallel.

[2017-09-08 21:23] jettify commented on #320
closing issue for now, feel free to open new one if you need more help

[2017-09-08 21:23] #320 closed

[2017-09-08 21:26] jettify commented on #269
Closing for now, feel free to open new issue

[2017-09-08 21:26] #269 closed

[2017-09-08 21:42] #190 closed

[2017-09-11 14:02] tomers opened #349 "Not possible to determine profile of boto3 session"
In `session.py`'s `get_session` it is not possible to pass arguments such as `profile` to constructor of `AioSession`.

I would like to get a session of a specific profile, but it is not possible.

[2017-09-11 18:50] thehesiod commented on #349
we follow botocore's implementation: https://github.com/boto/botocore/blob/develop/botocore/session.py#L922

[2017-09-11 19:32] tomers commented on #349
You cannot change session's profile after init, so getting the session does not help. I will send PR that fixes it tomorrow. It is a minor fix:
[code]

[2017-09-11 22:05] thehesiod commented on #349
we want to minimize customizations to aiobotocore, you should just construct the session object directly like you would with botocore
[code]

[2017-09-12 07:20] tomers commented on #349
I submitted https://github.com/aio-libs/aiobotocore/pull/352.

Why do you want to restrict the user from controlling botocore session? In my case I must use specific profile for the session.
I believe the user should have the ability to use `get_session()`, which is less tedious than constructing the session object directly. I don't see any drawback to this, as it has nothing to do with customizin

[2017-09-12 08:24] thehesiod commented on #349
We don't restrict anything, we follow their version exactly in this case. We reflect all changes of botocore's version of this method to our version. The fewer changes the better. I'll let @jettify give the final word.

[2017-09-12 18:58] jettify commented on #349
Agree with @thehesiod, we try to follow `botocore` API as close as possible, also creating helper method inside users codebase is trivial. To improve things we probably can add note in README/docs about custom profiles.

[2017-09-12 19:02] tomers commented on #349
Ok, agreed. I used @thehesiod suggestion and it worked for me.
Thank you for spending your time on this.

Regards,
Tomer

On Tue, Sep 12, 2017 at 9:58 PM, Nikolay Novik <notifications@github.com>
wrote:

[2017-09-12 19:05] jettify commented on #349
@tomers no problem, your suggestion totally make sense, you may try to convince `botocore` people, we will follow after them :)

[2017-09-12 19:05] #349 closed

[2017-09-12 19:08] thehesiod commented on #349
@tomers yes, please open bug against botocore and link here if you feel strongly (we'll then pick up the changes per our integration procedures), however IMHO `get_session` is a pointless method and should should have never been created by the botocore devs.  My suggestion to botocore would be to deprecate and remove this method in a major rev.

[2017-09-13 18:37] jettify commented on #337
I think issue resolved, closing

[2017-09-13 18:37] #337 closed

[2017-09-13 19:23] thehesiod commented on #2
hmm, I remember there being a comment that the credentials are periodically updated.  I looked into this and it was not a trivial fix

[2017-09-19 17:14] terrycain opened #366 "boto Resources"
How would we go about patching the boto resources like Table for dynamo? Or am I thinking too much and it already works

[2017-09-19 17:17] thehesiod commented on #366
don't support boto/boto3, just botocore.  These should all work: http://botocore.readthedocs.io/en/latest/reference/services/dynamodb.html

[2017-09-19 18:04] jettify commented on #366
What is your intend? You want to try boto3 with aiobotocore?

[2017-09-19 18:56] terrycain commented on #366
Sorry brain wasnt working when I made this. Course we dont support boto only botocore. boto3 has some nice abstractions from the dynamo query syntax (mainly the Table object thingy) which is what I was after. But then again that could be easily implemented.

Should we have some module that contains boto like convenience stuff? should help transitioning people from boto to aiobotocore... and remove

[2017-09-19 19:57] thehesiod commented on #366
I'm guessing probably need a aioboto3

[2017-09-21 21:32] jettify commented on #366
I think it is possible aioboto3, but it is a bit painful to support aiobotocore this could be the case for aioboto3 too.

[2017-09-21 23:28] terrycain commented on #366
Sounds like a plan. I'll have a crack at making a list of the useful things I use from boto at the moment and then once Internet finally gets setup at my flat I will make a POC aioboto3 :-)... which will definitely have the metadata stuff in it, the fact i need boto to get meta data as boto3 doesnt do it annoys me :)

[2017-09-24 22:03] terrycain commented on #366
I quickly whipped up a proof of concept of aioboto3 which essentially subclasses the boto3 session object but passes in an aiobotocore session instead of a botocore one. From what little testing I've done, I have a feeling most things will magically work as you guys have done all of the hard work. Will do some more testing and if its all good, I'll throw it up on github

[2017-09-25 18:43] jettify commented on #366
Please do, you can reuse our testing infrastructure with `moto`

[2017-09-25 20:14] terrycain commented on #366
Yeah the test harness you have is really nice :smile:

Its working, needed a bit more than 1 subclass but I think I've got it pretty much down. The way I see it is boto3 (and aioboto3) just return an instance of `AioBaseClient` when you ask for a low level client connection, so I can send client test cases here, and in aioboto3 I can just focus on the higher level abstractions... which should all

[2017-09-25 20:34] jettify commented on #366
Agreed, looks like you need to reimplement `session.py` to make sure `AioBaseClient` returned here
https://github.com/boto/boto3/blob/dffeb393a795204f375b951d791c768be6b1cb8c/boto3/session.py#L384-L389

[2017-09-25 20:35] terrycain commented on #366
I found if I change which session it gets, then I dont need to touch the rest

https://github.com/boto/boto3/blob/dffeb393a795204f375b951d791c768be6b1cb8c/boto3/session.py#L55

[2017-09-25 20:36] jettify commented on #366
Have you tried passing session object as `botocore_session`  parameter?

[2017-09-25 21:39] terrycain commented on #366
Not yet im taking the shotgun approach and replacing lots first, see what works what doesnt, then will go through and clean it all up. But that should work for the most part yes.

[2017-09-27 15:27] terrycain commented on #366
Here it is :smile: https://github.com/terrycain/aioboto3, its a work in progress, it works with dynamo stuff for now, though thats all I've tested, I would guess it works with much more.

[2017-09-27 18:07] jettify commented on #366
good work!

[2017-09-27 18:17] jettify commented on #366
Few suggestions:
1) GPL license limits usage of library significantly (companies usually avoid GPL as much as possible),  I suggest to switch to apache 2 same as boto3/boto/aiobotocore
2) Add flake8 checker to find unused imports/variables as well as force pep8
3) I suggest fix supported version of boto3 and aiobotcore, when private API violation involved each new dependency release should be test

[2017-09-27 21:14] terrycain commented on #366
4's already done, travis should build on PRs, and yeah agree with 1,2 and 3 :smile:

[2017-10-11 22:06] terrycain commented on #366
aioboto3 is now at 1.1.0 with a better license and a general cleanup, thanks for you guys' help :smile:

[2017-10-11 22:06] #366 closed

[2017-10-15 17:20] jettify opened #400 "New aiohttp release will happened in next few days"
@thehesiod new version of aiohttp will be release soon, I am trying to enumerate thing we need to do:
1) compression issue: https://github.com/aio-libs/aiobotocore/pull/298
2) redirect issue: https://github.com/aio-libs/aiobotocore/blob/097e2a7e57e5eaeda01a6c8cc3ae24ccd08dc90b/aiobotocore/endpoint.py#L292-L301

am I missing something?

[2017-10-15 17:59] thehesiod commented on #400
It would be nice if it could support the non compliant newline issue with
multipart. But no biggie.

On Oct 15, 2017 10:20 AM, "Nikolay Novik" <notifications@github.com> wrote:

[2017-10-15 18:05] thehesiod commented on #400
sorry, just realized you meant for aiobotocore (had responded from phone).  Ya I think they haven't implemented fix for read_timeout issue yet: https://github.com/aio-libs/aiobotocore/issues/245 or stream reset: https://github.com/aio-libs/aiobotocore/issues/221 so won't have to do those.

[2017-10-18 09:19] asvetlov commented on #400
aiohttp 2.3 is out

[2017-11-02 18:42] hellysmile opened #419 "Support aiohttp 2.3.x+"
https://github.com/aio-libs/aiobotocore/pull/415

fails on `test_patches `

Is there any plans to support 2.3.x+?

Do wee need to support 2.2 and 2.3? Myabe next aiobotocore can support only 2.3.x+?

[2017-11-02 20:39] jettify commented on #419
I wil try to find time this weekend, for more information see:
https://github.com/aio-libs/aiobotocore/issues/400

[2017-11-02 20:39] #419 closed

[2017-11-06 09:55] asvetlov commented on #400
Tests are failed in aiohttp 2.3.2

[2017-11-09 21:54] #400 closed

[2017-11-10 16:14] terrycain opened #429 "Signers are not async"
[botocore.signers](https://github.com/boto/botocore/blob/develop/botocore/signers.py) are not asynchronous. Not end of the world but we might as well make them async.

If you guys have any opinion on how you want to go about tackling this I'm more than up for giving it a go.

[2017-11-10 19:08] jettify commented on #429
Bit not follow why singer should be async?

[2017-11-10 21:11] terrycain commented on #429
My bad I'm being a idiot, for some reason I thought it went of and talked to aws, ignore me :wink:

[2017-11-10 21:11] #429 closed

[2017-11-10 21:39] jettify commented on #429
there is actually one case that should be fixed it is IAM credential fetcher
https://github.com/boto/botocore/blob/cd8a96b3fe4e8cb5ef5cdc749a006f14a7112c73/botocore/utils.py#L183-L223

[2017-11-10 21:59] terrycain commented on #429
I'll have a look into it

[2017-11-13 08:38] thehesiod commented on #429
@terrycain that would be awesome. Last time I checked it looked like it was going to be complicated

[2017-11-13 08:39] thehesiod commented on #429
See https://github.com/aio-libs/aiobotocore/issues/2

[2017-11-13 20:54] thehesiod commented on #258
this is now dependent on https://github.com/boto/botocore/issues/1255

[2017-11-14 21:01] adamrothman opened #432 "UnicodeDecodeError when deserializing DynamoDB response"
## Problem

DynamoDB::Query operations fail due to a `UnicodeDecodeError` during response deserialization:
[code]

An identical query succeeds using regular botocore.

## Discussion

0x8b (139) is outside of the ASCII range and based on some cursory Googling, appears to indicate that the response is gzipped:

* https://stackoverflow.com/questions/11072705/twitter-trends-api-unicodedecodeerror-utf8

[2017-11-14 21:19] adamrothman commented on #432
Both queries work as expected if I drop down to `aiobotocore==0.4.5` and `botocore==1.7.4`.

[2017-11-14 22:28] thehesiod commented on #432
see convo here: https://github.com/aio-libs/aiobotocore/pull/430, try reverting the identity line and reporting back

[2017-11-14 22:33] jettify commented on #432
i have pr for that will merge soon and release new version

[2017-11-14 23:10] jettify commented on #432
please try https://pypi.python.org/pypi/aiobotocore/0.5.1 feel free to open new ticket

[2017-11-14 23:10] #432 closed

[2017-11-14 23:21] adamrothman commented on #432
Fixed, thank you @jettify!

[2017-11-20 13:22] thebenwaters opened #440 "RuntimeError: Timeout context manager should be used inside a task"
Just today I started having this issue when trying (so far just with SQS)
Context i'm calling from inside an aiohttp server request

[code]
in the async_send_message function

[code]

[code]

[code]

I'm I doing something obviously wrong?

[2017-11-20 14:11] hellysmile commented on #440
Are You using tornado?

[2017-11-20 14:23] thebenwaters commented on #440
No just plain asyncio

I'm running an aiohttp server that's using uvloop and running inside of gunicorn

[2017-11-20 14:25] thebenwaters commented on #440
[code]

[2017-11-20 14:36] thebenwaters commented on #440
Context i'm calling from inside an aiohttp server request

[2017-11-20 16:47] thebenwaters commented on #440
After following the stack trace for it bit it seems that either botocore or aiohttp is ignoring the ```timeout=None``` parameter

[2017-11-20 17:34] butla opened #441 "FYI: Kinesis works (at least basic stuff)"
Yeah, I should make a PR saying that at probably prepare an example, but I don't have the time right now.
But that info will be useful for anyone looking at libraries to find something that can work with Kinesis from AsyncIO (like I was yearlier today).

The things that I've checked:
- create_stream
- add_tags_to_stream
- put_record
- get_shard_iterator
- get_records

I'll try to make a nice PR in

[2017-11-20 17:40] thehesiod commented on #440
hmm, for some reason "current_task" in aiohttp is not finding the current task, can you debug into it to see why that is?  Are you using multiple loops?  Could there be loop confusion?

[2017-11-21 01:00] thehesiod commented on #258
update: just need to write a unittest for this as it should be supported in 0.5.1

[2017-11-21 09:44] thebenwaters commented on #440
@thehesiod single loop. it's getting ```None``` for current task. Any more suggestions?

[2017-11-21 16:29] jettify commented on #441
Thanks for letting us know!

[2017-11-21 16:58] jettify commented on #440
Could you try to run same code but do not use view just simple `async def` function?

[2017-11-21 17:24] thehesiod commented on #440
any way for a simple test case for us to try?

[2017-11-21 18:45] asvetlov commented on #440
`Task.current_task()` can be `None` if the method is executed not from coroutine.
Or from Tornado -- the library is still not 100% compatible with asyncio.
Should be fixed by tornado 5 I hope.

[2017-11-29 17:15] alliefitter opened #451 "Timeout on S3 get_object using asyncio.gather"
I'm attempting to download 300 objects from S3 by building a list of futures and waiting on them to finish with `asyncio.gather`. For some reason, only the ten are finishing and the rest are timing out.

**Code:**
[code]
**Output:**
[code]

[2017-11-29 22:11] thehesiod commented on #451
by default botocore uses a pool of 10 connections, you can increase them by using a `Config` object (See max_pool_connections): https://github.com/boto/botocore/blob/develop/botocore/config.py#L54

however this shouldn't time out.  aiobotocore tries to override the timeout mechanisms of aiohttp because they use a timeout from request start, instead of active time during connect/waiting for respons

[2017-11-29 22:13] alliefitter commented on #451
Thanks for the quick response!

[2017-11-29 22:40] thehesiod commented on #451
btw if you have time let us know if 0.4.x has the issue

[2017-11-30 20:41] thehesiod commented on #451
somewhat related: https://github.com/aio-libs/aiohttp/issues/2538

[2017-11-30 21:42] alliefitter commented on #451
[code]

[2017-12-01 19:08] alliefitter commented on #451
Got a similar error while trying to create 10,000 SNS topics.

[code]

[2017-12-01 19:11] alliefitter commented on #451
It did end up creating 8202 of the topics.

[2017-12-01 19:26] thehesiod commented on #451
can you try aiobotocore 0.4.x

[2017-12-05 05:47] DeoLeung commented on #440
getting this in `Tornado`, hope it could be fixed soon

[2017-12-06 11:03] graingert opened #460 "aiobotocore[awscli] at wrong version"
https://github.com/aws/aws-cli/blob/1.11.146/setup.py#L26

[2017-12-06 13:32] asvetlov commented on #440
For Tornado there is a workaround: create asyncio task in tornado handler and wait for result:
[code]

[2017-12-06 15:46] #460 closed

[2017-12-07 13:14] thebenwaters commented on #440
Ok simple test case, not in an aiohttp request

[code]

This works.

@asvetlov not using tornado :(

[2017-12-07 17:32] thehesiod commented on #440
if you provide a encapsulated testcase we can take a look.  Another thing, if using multiple threads in 3.5.3+, each thread will get their own loop.

[2017-12-07 17:58] asvetlov commented on #440
1. `asyncio.ensure_future()` creates a task is coroutine is passed.
2. `asyncio.wait()` calls `ensure_future()`.
3. `loop.run_until_complete()` calls `ensure_future()`.

Every `async def` is in asyncio is executed inside a task. There is no way to run async function without task context without weird tricks.
If aiobotocore has these tricks -- the library should be fixed.

[2018-01-09 21:03] thehesiod commented on #451
@alliefitter note: that if AWS does not receive a message w/in 15 seconds or so it will timeout the connection.  So if your cpu usage was too high it can cause starvation.  Another is that you're not reading the body of the S3 object so you're going to cause the connectors to be reset after every API call (inefficient).  However `async_timeout` should never be used so something has gone wrong when

[2018-01-09 21:18] thehesiod commented on #451
actually the issue is due to https://github.com/aio-libs/aiohttp/issues/2648.  I'll work on a work-around

[2018-01-30 15:37] jersobh opened #503 "aiohttp.client_exceptions.ClientConnectionError: Connection closed"
From some days ago I've started receiving this error

Error handling request
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/aiohttp/web_protocol.py", line 410, in start
    resp = yield from self._request_handler(request)
  File "/usr/lib/python3.6/site-packages/aiohttp/web.py", line 325, in _handle
    resp = yield from handler(request)
  File "/usr/lib/python3.6/site

[2018-01-31 01:43] KaiPetzke commented on #85
I recommend re-opening this issue and re-thinking the decision made. My reason for this is, that with Python 3.5, we got the: "async with" syntax for asynchronous context managers. Session lifetime is determined by the time span between calling the __aenter__ coroutine and calling the __aexit__ coroutine. On the other hand, session managers can be created by outside context synchronously.

See PEP

[2018-02-15 11:12] asvetlov opened #519 "Adopt aiohttp 3"
Currently aiobotocore pins aiohttp dependency to 2.x, that's sad.

[2018-02-15 11:13] thehesiod commented on #519
:) we wouldn't have to pin if we had the timeout changes we need *g*

[2018-02-16 12:10] manicai commented on #440
I'm seeing the same error when testing with PyTest.

[code]

I've boiled this down to the following test code.

[code]

Python 3.6.4 with the following installed:

[code]

[2018-02-16 15:51] manicai commented on #440
Ah, scrub that. Have found that my problem was because the session was being create the constructor rather than inside one of the `async` methods. Apologies.

[2018-02-17 00:10] asvetlov commented on #519
Looks like you are bargaining

[2018-02-17 06:07] thehesiod commented on #519
no just fact of life, I'm sure we'll get the update done soon, just need to make sure our monkey patches continue working, would be better if we didn't need to monkey patch.

[2018-02-23 10:25] thehesiod commented on #519
note for who updates this, it means we need to drop py<3.5.3 (yay), which means major at least version 0.6

[2018-02-23 18:12] thehesiod commented on #503
have a reproducible in a testcase?  occasionally "bad stuff" occasionally happens with AWS API calls

[2018-02-23 18:19] thehesiod commented on #451
ok 0.5.3 released with my connector timeout fix, re-open if this does not solve your issue.

[2018-02-23 18:19] #451 closed

[2018-02-23 18:19] thehesiod commented on #295
I think this is now resolved

[2018-02-23 18:19] #295 closed

[2018-02-23 18:27] thehesiod commented on #267
already reverted

[2018-02-23 18:27] #267 closed

[2018-02-23 18:30] thehesiod commented on #440
@manicai @thebenwaters any updates? if no testcase going to close in a few days

[2018-02-23 18:33] thehesiod commented on #441
added note to readme

[2018-02-23 18:33] #441 closed

[2018-02-24 08:59] manicai commented on #440
@thehesiod No change, the code above will reproduce it but since refactoring to ensure the session is created inside a coroutine instead everything works fine. Thanks.

[2018-02-24 18:26] thehesiod commented on #440
@manicai I think `pytest.mark.asyncio` creates and destroys its own event loop, so creating a session outside `test_upload` will probably not work

[2018-02-25 09:05] thebenwaters commented on #440
@manicai how did you enforce?

[2018-02-25 11:50] manicai commented on #440
I haven't found a good way of enforcing it programmatically.

[2018-02-26 15:13] Gr1N commented on #519
Maybe you have any estimates? We want to go with `aiohttp>=3.0.0`, but we can't due to `aiobotocore`...(

[2018-02-26 17:23] thehesiod commented on #519
If jettify doesn't get to it this week I'll try, feel free to open a PR as well :)   Btw I noticed aiohttp 3 is going through some churn, which is normal for a major release bump, so probably worth waiting a bit anyways.

[2018-02-26 18:34] Gr1N commented on #519
Just tried to look into issues and here is a patch (all tests passed):
[code]
I can try to create PR aiohttp 2.x and 3.x support, but I don't think that I know all what I need to know about `aiobotocore` :)

[2018-02-26 20:34] thehesiod commented on #519
ya that's a decision that needs to be made, @jettify , do we want to keep 2.x support, and if not do we drop <3.5 support?

[2018-02-26 21:21] jettify commented on #519
Good question, it will be hard to support both versions of aiohttp, so lets drop 2.x, it will be easier to maintain. What do you think @thehesiod ?

[2018-02-26 21:25] jettify commented on #519
If someone wants to support 2.x, PRs are welcome as usual, we can do those within 0.5.x version

[2018-02-26 22:26] thehesiod commented on #519
@jettify ya sounds good, I guess later we can create a 0.5 branch if we need to

[2018-02-27 10:22] Gr1N commented on #519
Review please https://github.com/aio-libs/aiobotocore/pull/536

[2018-02-27 17:26] thehesiod commented on #519
nice work!

[2018-03-01 08:53] Gr1N commented on #519
Guys, PR merged, when you plan to release new version of package?

[2018-03-03 09:06] Gr1N commented on #519
Ping?

[2018-03-03 12:35] jettify commented on #519
Sorry for delay, I will look this weekend

On Sat, Mar 3, 2018, 11:06 Nikita Grishko <notifications@github.com> wrote:

[2018-03-04 11:55] jettify commented on #519
New version released to PyPI https://pypi.python.org/pypi/aiobotocore/0.6.0

[2018-03-04 11:55] #519 closed

[2018-03-04 11:56] jettify commented on #519
Thanks @Gr1N @thehesiod @asvetlov !

[2018-03-04 17:03] jettify opened #546 "Move to native coroutines"
Since we dropped support for python < 3.5, now we can use `async def` instead of `@asyncio.coroutine`

[2018-03-10 01:52] ariwbolton opened #548 "SSL connection errors"
# Issue

When trying to conduct a simple initial test (essentially adapted from [here](url)) , I'm getting `ssl.SSLError`s.

# Environment

Output from pip: `Successfully installed aiobotocore-0.6.0 aiohttp-3.0.7 botocore-1.8.21 idna-ssl-1.0.1 packaging-17.1 pyparsing-2.2.0 wrapt-1.10.11`

Using python 3.6.3 in macOS 10.12.6.

# Minimal Working Example

[code]

# Expected output

Response object,

[2018-03-10 19:33] jettify commented on #548
This is very odd, may be this issue related: https://github.com/aws/aws-cli/issues/1545

[2018-03-10 19:34] jettify commented on #548
Most likely something related to your environment, can you try on clean env?

[2018-03-10 19:35] jettify commented on #503
Closing for now, feel free to reopen with more information.

[2018-03-10 19:35] #503 closed

[2018-03-10 23:50] ariwbolton commented on #548
[code]

and then running the test produces the same stack trace. Also, there doesn't appear to be anything out of the ordinary with my environment variables.

That issue does seem similar -- a couple of linked issues (aws/aws-cli#1499, and certifi/python-certifi#26) seem to indicate there is some issue between `certifi` and AWS (involving cross-signed certificates presented by AWS) but as far as I

[2018-03-11 05:14] thehesiod commented on #548
is this an injection, does it happen in 0.5.3?

[2018-03-11 05:23] thehesiod commented on #548
btw just tried this with my personal account, worked fine (although I used my `~/.aws/credentials` file for auth so I didn't need to pass my keys directly, and my bucket is in `us-west-2`.  Sounds like for some reason your system doesn't trust the certificates from `s3.amazonaws.com`.  Try this:
[code]
my openssl is:
[code]

[2018-03-11 05:24] thehesiod commented on #548
btw I'm pretty sure this isn't related to aiobotocore/aiohttp.  I bet you can repro with `http.client` or botocore.  Could you in fact try with botocore?  That would rule us out :)

[2018-03-11 05:28] thehesiod commented on #503
btw just as an FYI, this can happen if your main thread gets blocked for a long time and doesn't service the connector, AWS will close it.

[2018-03-16 17:41] jersobh commented on #503
It works fine at the server, just happens with localhost

[2018-03-16 19:25] andersea commented on #440
Hi, I had some code that used aiohttp websockets that suddenly started raising this exception.

The bug was from a class I had made which had a constructor which had a (to me at least) somewhat non-obvious error:

Here is an example:

    import asyncio
    import aiohttp

    class Tester:
        def __init__(self, loop=asyncio.get_event_loop()):
            self._loop = loop

        async def

[2018-03-18 07:09] thebenwaters commented on #440
@andersea I will give it a try!

[2018-03-18 07:41] thehesiod commented on #440
in that testcase I just verified that the `s3_cache` fixture is executed before the `test_upload` method's run loop is created by the `python-asyncio` pytest plug-in via the `@pytest.mark.asyncio`, so it will not be in the same runloop as the items in `test_update` which won't work.  in aiobotocore a loop fixture is used so they're all explicitly created in the same loop.

based on this finding ar

[2018-03-18 11:31] thebenwaters commented on #548
@ariwbolton I had a similar issue after brew made python3 the default for ```brew install python```. Definitely try and follow the symlinks around.

https://stackoverflow.com/questions/18752409/updating-openssl-in-python-2-7

Also be careful and try not to destroy any critical paths.

This is for python2, but just try it with python3 maybe?

[2018-03-20 15:00] JulienPalard commented on #548
@ariwbolton can you try specifying an up-to-date cert file, like:

[code]

Also telling us if it works with requests when installing `requests[security]`?

And giving us the result of:

[code]

and

[code]

[2018-03-22 08:27] JulienPalard commented on #548
@ariwbolton can you try specifying an up-to-date cert file, like:

[code]

Also telling us if it works with requests when installing `requests[security]`?

And giving us the result of:

[code]

and

[code]

[2018-03-22 21:57] adamrothman opened #551 "Crash with aiohttp 3.1.x related to use of StreamReader"
I'm getting a crash using aiobotocore 0.6.0 with aiohttp 3.1.0 (released yesterday 2018-03-21). It appears to be related to botocore's response checking:

[code]

Here's a minimal reproducer:

[code]

I've also tried `client.describe_table`, which results in the same error. It seems like the semantics for `StreamReader` have changed such that it can no longer be treated like data.

The crash does

[2018-03-22 22:00] thehesiod commented on #551
ya, we should have caught in https://github.com/aio-libs/aiobotocore/pull/536 that aiohttp needs to be upper-bound version locked.

[2018-03-22 23:03] TimOrme opened #552 "[tracking aiohttp] Possible Memory Leak with SSL Sessions"
Hello,

I'm calling S3 using:

-python 3.6.3
-aiobotocore 0.6.0
-Ubuntu 17.10

I notice that when I have a loop of async calls to retrieve data, my memory usage seems to continually go up, even though I expect it to stay the same.  Here is a test case I could come up with:

[code]

Each chunk increases the memory size my a noticeable margin, and does not seem to release it on subsequent chunks.

I

[2018-03-23 05:21] thehesiod commented on #552
I have a suspicious as well there's a leak with something related to SSL, our aiohttp service is leaking 10s of megabytes per week.  SSL in Python 3.5.2 had a leak with CRLs, perhaps there's something else.  Have you tried with tracemalloc?

[2018-03-23 05:29] thehesiod commented on #552
here's a little utility I sometimes use: https://gist.github.com/thehesiod/2f56f98370bea45f021d3704b21707a9

[2018-03-23 14:26] asvetlov commented on #551
Sorry, guys. My personal fault.
Support for sending `StreamReader` was dropped. I wanted to replace it with support for *any* async iterator by aio-libs/aiohttp/issues/2802

But I did run too fast.
Now I think the lost functionality is a critical bug, it will be fixed by pushing *async iterator* feature into next 3.1 bugfix release (coming soon).

Sorry again.
@thehesiod could you postpone the loc

[2018-03-23 16:00] thehesiod commented on #551
@asvetlov no worries!  will do

[2018-03-23 16:54] TimOrme commented on #552
Interestingly, if I remove the:

[code]
The leak doesn't happen. So perhaps its something with the stream reader not properly closing up?

[2018-03-23 21:10] TimOrme opened #553 "get_credentials() fails on AioSession"
Using aiobotocore 0.6.0, python 3.6.3

Executing:

[code]

Fails with the following error:

[code]

[2018-03-23 22:36] adamrothman commented on #551
Thanks guys, libraries these and maintainers like you are why I love Python. 🤗

[2018-03-24 04:47] thehesiod commented on #553
may be related to this: https://github.com/aio-libs/aiobotocore/issues/551#issuecomment-375816256.  Mind trying earlier versions of aiohttp?

[2018-03-24 04:48] thehesiod commented on #552
interesting, that would point to a aiohttp leak, perhaps in it's cython code.  btw sorry about the accidental close, hit the wrong button

[2018-03-24 06:04] thehesiod commented on #552
here's an interesting potential leak that tracemalloc reported:
[code]

@asvetlov

[2018-03-24 09:10] thehesiod commented on #552
hmm, my stack isn't related to read, so may just be something that eventually gets released. I did a little digging and the peercert had a refcount of 1 so it seems to be misleading.  btw, note that "leaks" in python are really hard to trace because python keeps pool(s) of memory and doesn't always release them back to the system.  For details see: https://rushter.com/blog/python-memory-managment.

[2018-03-24 11:38] jettify commented on #553
I think problem more tricky check this lines:
https://github.com/boto/botocore/blob/5e044f7b94acb83fce4265b5ce47620db70a9876/botocore/credentials.py#L683-L687
botocore create async client and tries to do request, but that fails because no `await` as result coroutine never executed.

[2018-03-24 11:50] jettify commented on #553
https://github.com/aio-libs/aiobotocore/blob/52df9fc4b4eaf8145b2512b9daac312d3539232c/aiobotocore/endpoint.py#L86-L117

May be not directly related but `self.__response.close()`should coroutine right for new aiohttp?

[2018-03-24 11:50] jettify commented on #552
https://github.com/aio-libs/aiobotocore/blob/52df9fc4b4eaf8145b2512b9daac312d3539232c/aiobotocore/endpoint.py#L86-L117

May be not directly related but `self.__response.close()`should coroutine right for new aiohttp?

[2018-03-26 04:18] TimOrme commented on #553
As @jettify said, the problem is that the call to retrieve credentials doesn't await, and instead returns the generator itself, which it can't serialize into its cache.  I tried this with aiohttp 3.0.9, which should be supported I think?

[2018-03-26 04:33] thehesiod commented on #552
@jettify on the line `async with response['Body'] as stream:` the `__aexit__` should await the close.

[2018-03-26 04:59] TimOrme commented on #552
Yeah, it doesn't seem that the close method is ever called in this case. It seems that everything is going through the __aexit__ method.

[2018-03-28 02:26] asvetlov commented on #551
Fixed by aiohttp 3.1.1 release

[2018-03-28 19:36] adamrothman commented on #551
@asvetlov I'm still getting the same crash after updating to aiohttp 3.1.1:

[code]

[2018-03-29 02:19] thehesiod commented on #551
ya, seems like `ClientResponse.content` is `StreamReader` and not string/bytes anymore

[2018-03-29 02:47] asvetlov commented on #551
But `ClientResponse.content` was a `StreamReader` from time of birth.
3.3.1 restored a broken/removed functionality for passing a content as a body: `await client.post(url, data=resp.content)`, nothing more.

[2018-04-03 17:17] philgooch opened #556 "This works with DigitalOcean Spaces also!"
Was looking for a solution for async uploads to DigitalOcean spaces and aiobotocore fits the bill perfectly.

The only changes required to get the Basic Example working with Spaces are as follows:

`bucket = <your DO Space name>`

In `session.create_client`:

`region_name=<your DO region name, e.g. nyc3>`
`endpoint_url=<your DO endpoint, e.g. https://nyc3.digitaloceanspaces.com>`

e.g.

[code]

[2018-04-03 19:19] thehesiod commented on #556
so is this a request for documentation?

[2018-04-04 07:03] philgooch commented on #556
Sorry, probably wrong place for this

[2018-04-04 07:03] #556 closed

[2018-04-04 07:12] thehesiod commented on #440
going to close for now, feel free to re-open if my explanation doesn't make sense or if you find another issue.

[2018-04-04 07:12] #440 closed

[2018-04-05 11:41] jettify commented on #556
I think we can add this information to the readme? Probably someone else will find this information useful

[2018-04-17 13:58] mikepashin opened #559 "Incompatibility aiobotocore 0.6.0 and botocore >=1.10.4"
Hello!

After update all pip package in my project, i see problems Incompatibility aiobotocore 0.6.0 and botocore.

Console: **aiobotocore 0.6.0 has requirement botocore<=1.8.21,>=1.8.0, but you'll have botocore 1.10.4 which is incompatible.**

[2018-04-17 17:13] thehesiod commented on #559
try installing with `pip -U` so that botocore will get downgraded

[2018-04-25 16:29] mannickutd opened #562 "0.6.0 fail with DynamoDB"
return await client.get_item(TableName=self.table_name, Key={'org_id': {'S': key}})
python3.6/site-packages/aiobotocore/client.py", line 80, in _make_api_call
    operation_model, request_dict)
python3.6/site-packages/aiobotocore/endpoint.py", line 265, in _send_request
    exception)):
python3.6/site-packages/aiobotocore/endpoint.py", line 297, in _needs_retry
    caught_exception=caught_exceptio

[2018-04-26 13:42] nitrocode opened #563 "How to batch write data to DynamoDB?"
Is it possible to batch write data multithreaded to dynamodb using this package? I'm trying to write some code to do it but don't see any documentation for it. Anyone done this before?

Thanks!

[2018-04-26 13:44] #563 closed

[2018-04-28 06:09] thehesiod commented on #551
@asvetlov @adamrothman figured it out, looks like `ClientResponse._content` was renamed to `ClientResponse._body`.  Fix will be in: https://github.com/aio-libs/aiobotocore/pull/564

[2018-04-30 19:46] jettify commented on #559
Fill free to open new issue if you have more questions

[2018-04-30 19:46] #559 closed

[2018-04-30 19:51] jettify commented on #548
I do not think it is problem with aiobotocore, most likely environment issue. Thanks everyone for good suggestions! closing for now.

[2018-04-30 19:51] #548 closed

[2018-04-30 19:51] #49 closed

[2018-04-30 19:52] jettify commented on #546
Task should be accomplished with 3 PRs

Port tests to async/await
Port full library to async/await
Update changes.rst and release new version and update README, docs, travisci

[2018-05-01 02:00] thehesiod commented on #546
all these resolved by https://github.com/aio-libs/aiobotocore/pull/564, I'll try breaking it apart

[2018-05-01 08:11] jettify commented on #562
@thehesiod this issue should be handled by this PR https://github.com/aio-libs/aiobotocore/pull/568 ?

[2018-05-01 08:12] thehesiod commented on #562
fixed by https://github.com/aio-libs/aiobotocore/pull/569

[2018-05-01 08:12] #562 closed

[2018-05-01 08:12] thehesiod commented on #551
fixed with https://github.com/aio-libs/aiobotocore/pull/569

[2018-05-01 08:12] #551 closed

[2018-05-01 08:46] thehesiod commented on #546
I don't think any doc changes are necessary, we were already python 3.5+

[2018-05-01 08:46] #546 closed

[2018-05-01 08:48] thehesiod commented on #552
btw @TimOrme last time I found a leak it was a native like in the cpython SSL adapter code triggered by SSL certs that had CRLs.  So it could be dependent on the types of certs returned from AWS.  Sorry haven't had more time to dig into this, it's pretty painful finding native leaks.  but rest assured we're seeing this in prod as well so I want to get to the bottom of it.

[2018-05-01 08:56] jettify opened #570 "Next release version 0.7.0"
We have bunch of awesome changes landed in 0.6.1 I think those deserves major version bump :) , so I suggest to have next release 0.7.0 instead of 0.6.2 . One outstanding issue for next release is to handle https://github.com/aio-libs/aiobotocore/pull/560

[2018-05-01 09:26] thehesiod commented on #570
Oh dang, I had started 0.6.1 release, did u cancel. I agree we should do 0.7.0 instead

[2018-05-01 09:33] jettify commented on #570
It is not big issue, no reason to cancel anything.

[2018-05-01 15:50] nitrocode commented on #551
Thank you for fixing this issue. I just tripped over it on the `0.6.0` version. I tried upgrading and it looks like [`0.6.1` has not been published to pypi](https://pypi.org/project/aiobotocore/). Do you mind publishing it @thehesiod ?

[2018-05-01 16:01] jettify commented on #551
Probably due to typo `0.6.1a0` was published https://pypi.org/project/aiobotocore/0.6.1a0/

[2018-05-01 16:07] thehesiod commented on #551
very weird, I don't remember putting a0

[2018-05-01 16:11] jettify commented on #551
https://pypi.org/project/aiobotocore/0.7.0/ released new version

[2018-05-01 16:12] #570 closed

[2018-05-01 16:18] jettify commented on #551
sigh, this time RST formatting is broken on PyPI

[2018-05-01 16:19] thehesiod commented on #551
weird, how did that happen?

[2018-05-01 16:24] jettify commented on #551
I edited changes.rst and broke formatting  https://github.com/aio-libs/aiobotocore/pull/571 , anyway added command to test RST correctness.

[2018-05-01 19:29] nitrocode opened #572 "Having trouble seeing a difference between boto3's batch_writer and this package"
I have a script that uses `boto3`

        with open(file_name, 'r') as items:
            with table.batch_writer() as batch:
                for idx, item in enumerate(items):
                    item = item.strip()
                    batch.put_item(
                        Item={
                            'item': item,
                        }
                    )

and another that uses `a

[2018-05-01 20:36] thehesiod commented on #572
I'm not sure what the question is, aiobotocore doesn't make AWS calls magically faster :)

[2018-05-01 21:52] nitrocode commented on #572
I guess I tried aiobotocore in order to make my calls asynchronous and in doing so I was hoping that I could get higher throughput. I'm curious of course on how I can improve my throughput but a better question is what exactly does aiobotocore provide me that boto3 does not provide me that could help me improve my throughput? And if it cannot improve my throughput, what benefits does aiobotocore g

[2018-05-02 22:12] adamrothman opened #573 "Pagination is broken"
## Issue

Commit 42dbd833187ff396e4b0e443eaa5fd0d20b84b66 appears to have broken pagination. The reproducer below works fine using aiobotocore 0.6.0 (with aiohttp 3.0.9), but breaks with aiobotocore 0.7.0 (with aiohttp 3.1.3).

[code]

And the resulting traceback:

[code]

## Root cause

The problem is in `AioPageIterator`'s `__anext__`:
https://github.com/aio-libs/aiobotocore/blob/42fc4d9765d84b8

[2018-05-03 04:10] thehesiod commented on #573
mind adding a new / updating the existing testcase to ensure it doesn't happen again?

[2018-05-03 04:11] thehesiod commented on #573
btw updated your example, you don't need to call s3.close because you're using `async with`

[2018-05-03 04:12] thehesiod commented on #573
hmm, how is this passing: https://github.com/aio-libs/aiobotocore/blob/master/tests/test_basic_s3.py#L111

[2018-05-03 05:14] thehesiod commented on #573
figured out why we didn't catch these, looks like the tests were disabled.  Working on a PR to fix them

[2018-05-03 09:07] thehesiod commented on #573
@adamrothman after a deep dive down the rabbit hole I've created https://github.com/aio-libs/aiobotocore/pull/576 to enable a lot more tests to run via moto, and to do this I needed to pull in your change.  Is it ok to continue this in that PR and close this one?

[2018-05-03 09:44] thehesiod commented on #573
or you can pull that into your PR, either way

[2018-05-03 15:20] adamrothman commented on #573
@thehesiod absolutely, closing this and I’ll follow along on #576. Thanks!

[2018-05-03 15:20] adamrothman commented on #573
Oops, meant to close my PR, not the issue.

[2018-05-05 18:28] #573 closed

[2018-05-07 19:33] thehesiod opened #578 "Documentation formatting broken on pypi.python.org"
may be related to new pypi server?

[2018-05-07 20:07] thehesiod opened #580 "mark master as protected github branch?"
@jettify what do you think?  Sounds like a good idea to me

[2018-05-08 06:33] yunstanford commented on #553
it might also requires to convert `create_client` to `async def` as it calls here, https://github.com/aio-libs/aiobotocore/blob/master/aiobotocore/session.py#L65, it'd be incompatible change.

[2018-05-08 07:00] thehesiod commented on #553
will check now

[2018-05-08 07:06] thehesiod commented on #553
looks like in 0.8.0 with the new botocore this isn't an issue, just tried now and got my creds.  Really this shouldn't require a client because there are no AWS calls to make to get your creds, it would kinda defeat the purpose :)  Sounds like bad botocore impl from before.

[2018-05-08 07:07] asvetlov commented on #578
[code]

[2018-05-08 07:12] thehesiod commented on #578
cool thanks, adding check in https://github.com/aio-libs/aiobotocore/pull/581.  @jettify  added a variant but looks like this is what matters now.

[2018-05-08 07:16] thehesiod commented on #578
actually, that is a new line that wasn't in the release.  Only difference seems like this will also check the metadata and fail the script if the check fails

[2018-05-08 07:17] thehesiod commented on #553
note the restructured test for the 0.8.0 release passed w/o warnings: https://travis-ci.org/aio-libs/aiobotocore/jobs/376056214

[2018-05-08 07:26] yunstanford commented on #553
Thanks, will take a look.

[2018-05-08 07:26] thehesiod commented on #553
this is what I was alluding to btw: https://github.com/aio-libs/aiobotocore/issues/2

[2018-05-08 16:15] jettify commented on #580
Good idea, marked `master` as protected.

[2018-05-08 16:15] #580 closed

[2018-05-08 16:26] jettify commented on #572
In your script you perform sequential upload, one butch after other. In order to have higher throughput, try to upload data with multiple coroutines. For example you do not have to wait for the first batch to complete in order to start uploading new batch.

[2018-05-08 16:28] thehesiod commented on #578
cool, closing

[2018-05-08 16:28] #578 closed

[2018-05-08 19:15] thehesiod commented on #572
ya, @nitrocode I think you need to read about what asyncio is. It allows you to run multiple tasks in parallel, it will not make individual tasks any faster.

[2018-05-08 23:48] nitrocode commented on #572
@thehesiod yes I've used asyncio before and I probably wrongly assumed that this package, the way I wrote it above, would batch all the PutRequests at once like you coded in your example.

@jettify I suppose I should just use asyncio instead of aiobotocore if I want to run multiple batches simultaneously.

Please correct me if I'm misunderstanding something and thank you for all the comments.

[2018-05-08 23:53] thehesiod commented on #572
@nitrocode aiobotocore is simply an async version of botocore with an aiohttp backend instead of requests, no extra fanciness :)  Ya you could theoretically use botocore  + a bunch `loop.run_in_executor` if you take care of the threading correctly.  However if you want a true async client use this.

[2018-05-16 06:58] mkurek opened #583 "pytest fixtures available for external projects"
It would be great to have access to pytest fixtures defined in [conftest.py](https://github.com/aio-libs/aiobotocore/blob/master/tests/conftest.py) or [mock_server.py](https://github.com/aio-libs/aiobotocore/blob/master/tests/mock_server.py) in external projects which depend on aiobotocore.

Similar setup is done for example in [aiohttp's pytest_plugin](https://github.com/aio-libs/aiohttp/blob/mas

[2018-05-17 19:21] thehesiod commented on #583
great idea, which ones in particular are you interested in?

[2018-05-18 08:28] asvetlov commented on #583
Side note.
It would be nice if public aiobotocore fixtures are prefixed with the project name, as we did it for `pytest-aiohttp`. Otherwise, a chance for naming conflict with other libs is high.

[2018-05-18 08:41] mkurek commented on #583
Hi. Right now we're using only s3-related fixtures: `bucket_name`, `create_object` and `s3_server` (but they have a lot of dependent fixtures underneath).

[2018-05-20 14:34] treuille opened #584 "Is is possible to have callbacks when uploading objects?"
Is it currently possible to get progress callbacks when doing a `client.put_object`?

For example, I know that `boto3` has `upload_file` and `upload_fileobj` methods which have a `Callback` keyword argument. Is there any equivalent in `aiobotocore`?

Thank you!

[2018-05-20 15:50] jettify commented on #583
Mock server is simple wrapper around moto library, it starts real network server on specified port, as result we have better test coverage since we do not have to use mocking. Probably https://github.com/jotes/pytest-moto is better fit for you, but library was not updated for some time.

My point is that this fixture is not about aiobotocore and more about generic aws service substitution. We can

[2018-05-20 15:56] jettify commented on #584
Probably not, aiobotocore based on botocore, I do not see such callbacks there.

@terrycain are such callbacks supported in https://github.com/terrycain/aioboto3 ?

[2018-05-20 18:05] thehesiod commented on #584
you could use the base `Future.add_done_callback` no?

[code]

[2018-05-20 18:05] thehesiod commented on #584
(removed cmt) sorry, didn't realize you wanted progress

[2018-05-20 20:31] terrycain commented on #584
Yeah issue is, `upload_file*` and `download_file*` both essentially call the `s3_transfer` module which deals with the callbacks. I replaced those methods in `aioboto3` with a sorta hacky streaming read / write using get_object / put_object (nastyness [here](https://github.com/terrycain/aioboto3/blob/master/aioboto3/s3/inject.py))

I've implemented the callback thing when the `download_file*` is c

[2018-05-21 00:59] treuille commented on #584
Thanks so much, @terrycain. I created the issue here: terrycain/aioboto3#60.

[2018-05-21 00:59] #584 closed

[2018-05-24 00:14] thehesiod commented on #552
may be related to this: https://github.com/aio-libs/aiohttp/issues/3010

[2018-05-29 19:36] thehesiod commented on #245
update on this issue, support for timeouts was added to master, just waiting on a release with the feature.

@samuelcolvin as soon as the next aiohttp release happens we'll have a medium sized change to support it and remove a lot of workarounds we added to support proper client timeouts.  Hopefully soon!  You could try however no guarantees it will work.  If you'd like to make sure it will work c

[2018-06-01 20:38] thehesiod commented on #553
ah, I see, I'm not hitting this because I'm using a ~/.aws/credentials file.  @yunstanford  know how to trigger this workflow?

[2018-06-01 21:07] thehesiod opened #590 "PyPI upload failing"
see: https://travis-ci.com/aio-libs/aiobotocore/jobs/127196570

[2018-06-01 22:12] jettify commented on #590
I deployed  manually https://pypi.org/project/aiobotocore/0.9.0/
@thehesiod can you share your pypi account name, so I can give you access there.

[2018-06-01 22:16] jettify commented on #590
Probably related https://github.com/pypa/setuptools/issues/941

[2018-06-01 22:54] thehesiod commented on #590
@jettify pypi account: thehesiod

[2018-06-01 22:54] thehesiod commented on #590
ty!

[2018-06-02 07:56] asvetlov commented on #590
Perhaps it is the result of switching from travis-ci.org to travis-ci.com.
We have a similar issue for aiohttp itself and most likely for all other projects.
After migration secured password from `travis.yml` is broken.

[2018-06-02 09:35] webknjaz commented on #590
It still shows `Authenticated as jettify`: https://travis-ci.com/aio-libs/aiobotocore/jobs/127196570#L857
Weird

[2018-06-02 09:37] webknjaz commented on #590
Okay, it doesn't really check whether that auth data is valid: https://github.com/travis-ci/dpl/blob/master/lib/dpl/provider/pypi.rb#L109-L114

[2018-06-02 10:46] jettify commented on #590
@thehesiod added.

[2018-06-02 11:07] webknjaz commented on #590
Andrew is probably right about the migration. I'm trying to investigate the same issue in aiohttp

[2018-06-02 11:43] webknjaz commented on #590
@jettify @thehesiod try running:
[code]
to get a new encrypted string. It seems to be working for aiohttp.

[2018-06-04 00:59] aflury opened #591 "Update error message for Python 3.5.3 requirement"
setup.py now requires Python 3.5.3, but systems running earlier 3.5.x versions (in my case 3.5.2 on Ubuntu 16.04) get an error message of `aiobotocore doesn't support Python earlier than 3.5`. A more precise log message would be helpful.

[2018-06-04 20:01] thehesiod opened #594 "socket read timeouts broken in latest release"
see https://github.com/aio-libs/aiohttp/issues/3053.   Once fixed bump minimum aiohttp required and enable unittest in test_config.py

[2018-06-05 23:36] #594 closed

[2018-06-09 09:19] jettify commented on #591
Good point, would you like to provide PR for this change?

[2018-06-16 11:45] abuadan opened #599 "How to batch write data to SQS"
Hi is there a way to write a list of messages to sqs? there is a method for dynamodb but I don't know if that option is available for sqs  do I just use the example with a a for loop?

[2018-06-19 10:57] dabata opened #603 "'OperationModel' object has no attribute 'has_event_stream_output'"
all calls with dynamodb as a client fail with the following error:
[code]
here is a sample code,
the non async equivalent for the following code works fine

[code]
aiobotocore 0.9.2

Edit: I temporarily reverted back to 0.8.0 with which there is no such issue

[2018-06-19 19:09] thehesiod commented on #603
actually, this is included in our unittests: https://github.com/aio-libs/aiobotocore/blob/master/tests/test_dynamodb.py#L112  I think you don't have the matching botocore installed (`1.10.12`).  Can you confirm?

[2018-06-19 19:10] thehesiod commented on #603
note if you want tools such as awscli/boto3 you need to install with our extras so they you pick up the right versions of those as well.

[2018-06-25 08:39] dabata commented on #603
Thanks, works now with the right botocore version

[2018-06-25 08:39] #603 closed

[2018-06-25 10:14] jettify commented on #599
Hi, sorry for late reply, Is that option exists in botocore, if so it should be present in aiobotocore also

[2018-06-30 18:48] terrisgit opened #605 "Increase supported botocore version"
aiobotocore is working fine with botocore 1.10.48. Can you remove this warning?

aiobotocore 0.9.2 has requirement botocore<1.10.13,>=1.10.12, but you'll have botocore 1.10.48 which is incompatible.

[2018-06-30 18:52] terrisgit commented on #605
Hm, after further research I can see that this is a generic wrapper around all of botocore3. I will try accessing the secrets manager and let you know what happens.

[2018-07-02 17:21] mannickutd opened #607 "Consistent read timeout errors for Lambda payload read"
The error occurs when trying to read the data for a payload of a lambda function response. The response data size is not larger than 1KB. The error is intermittent.

[code]

[2018-07-02 17:44] thehesiod commented on #607
what version aiobotocore?

[2018-07-02 23:55] thehesiod commented on #607
Ah. Can u try 0.5.2, and if that doesn't work the latest. We don't currently have a plan to support old versions

[2018-07-03 17:39] mannickutd commented on #607
Yes the latest version fixed the issue.

On Tue, Jul 3, 2018 at 2:55 AM, Alexander Mohr <notifications@github.com>
wrote:

[2018-07-06 20:50] #591 closed

[2018-07-06 20:51] jettify commented on #607
Looks like resolved

[2018-07-06 20:51] #607 closed

[2018-07-06 23:05] thehesiod commented on #607
just as FYI, with latest version I did see some potential hangs (potentially socket timeouts not working) after a few hundred thousand requests.  I'll let everyone know if I find any more details.

[2018-07-13 09:22] askabelin commented on #605
It's not possible to install the latest boto3 and aiobotocore without warnings because botocore dependency can't be resolved:

[code]

[2018-07-16 17:29] thehesiod commented on #605
btw looks like latest version had some code code in areas we use: https://travis-ci.com/aio-libs/aiobotocore/jobs/134651598

[2018-07-16 21:55] thehesiod opened #611 "switch to python 3.6+"
given 3.7 is already out, this would allow us to use async generators and make the code a lot easier to match to botocore

@aio-libs/aiobotocore-admins what do you guys think?

[2018-07-17 16:43] jettify commented on #611
I all for deprecation python3.5, but not sure how many users still on py3.5

[2018-07-18 21:41] terrisgit opened #612 "generate_db_auth_token() returns a string instead of an awaitable"
This sets a string into the variable 'token', which does in fact work for me, but shouldn't it contain an awaitable?

session = aiobotocore.get_session()
async with session.create_client('rds', region_name=region) as client:
    token = client.generate_db_auth_token(hostname, port, username)

[2018-07-18 22:43] thehesiod commented on #612
are you thinking because it may need to retrieve your IAM credentials?  See: https://github.com/aio-libs/aiobotocore/issues/2.  Not an easy fix, for now sync as it shouldn't take much time to get the token from AWS

[2018-07-18 23:07] terrisgit commented on #612
I thought the point of aiobotocore was for every network access to be async. You could say "shouldn't take much time" about most AWS calls - until the network connection goes down.

[2018-07-18 23:12] thehesiod commented on #612
yes, it does for 99% of the underlying botocore endpoints, the API in question (I believe) just relies on your AWS auth token (which is cached and refreshed when its expired iff you're using IAM creds)...from what I understand they above is like generating a presigned URL.  I'm not saying it shouldn't or won't be fixed, however that it would require re-writing large chunks of AWS code and we haven

[2018-07-19 04:54] terrisgit commented on #612
I don't think this is accurate. If you provide a bogus region name, generate_db_auth_token will fail. That's a strong indicator that this method involves I/O.

[2018-07-19 05:01] terrisgit commented on #612
Got it, this doesn't actually use I/O.

[2018-07-19 05:01] #612 closed

[2018-07-19 19:24] #605 closed

[2018-07-19 19:39] thehesiod commented on #605
note: not as simple as hoped as a new iterator was introduced in the `StreamReader` and since we need to support py35 it had to be un-rolled making it much more complicated :(

[2018-07-21 05:27] terrisgit opened #615 "aiobotocore (0.9.3) released just a few days ago is already behind the latest botocore release"
AWS is releasing botocore almost every 3 days. There is no way for you to keep up with it.

I think the dependency should be something like < 1.11.0 instead of specifying a specific version.

Note that all python libraries have this issue. Nodejs projects too. Many are following a practice of allowing minor-minor upgrades to dependent packages without needing to release a new version.

Some langua

[2018-07-24 06:39] thehesiod commented on #615
You aren't understand what this library is or how it works.  It's essentially a giant monkeypatch around botocore.

we can't do ranges of versions because we are replacing internals of botocore, as noted in the latest release this meant what had to implement a counterpart async version.  We do not in this project want to support old versions of botocore as people should be moving forwards in botoc

[2018-07-24 06:39] #615 closed

[2018-07-26 22:55] terrisgit commented on #615
Thanks for the education! awscli and cloudwatch were causing me problems.

So I have to do this:

For Cloudwatch logging

[2018-07-26 22:57] thehesiod commented on #615
use extras :)
[code]

that will get you the right versions of botocore + awscli + boto3

[2018-08-02 16:30] Tinche opened #618 "Streaming file to S3"
Hi,

I'm getting a large video file streamed to me. I'm using aiohttp, and I'd like to read the file from the web request in chunks and upload it to S3 in chunks. Is this possible with aiobotocore?

[2018-08-02 21:14] thehesiod commented on #618
that is a good question!  Please feel free to try and report any issues encountered.  Theoretically should work similarly to how you would do in botocore, however I think you'll need to use a streaming payload type from aiohttp

[2018-08-02 21:15] thehesiod commented on #618
going to leave this open as one of two things need to happen
1) if this works, document how to do it
2) if it doesn't, fix any issues encountered

[2018-08-02 21:25] thehesiod commented on #599
going to close, feel free to re-open if you have any further questions/issues.

[2018-08-02 21:25] #599 closed

[2018-08-02 21:30] thehesiod commented on #553
yay, I figured out how to reproduce this

[2018-08-02 21:55] thehesiod commented on #553
oh gawd, this ties into https://github.com/aio-libs/aiobotocore/issues/2, basically the whole Credentials class may need to get replaced, this is going to be a BIG job.

[2018-08-02 21:59] thehesiod commented on #553
for those wanting to test this, follow: https://boto3.readthedocs.io/en/latest/guide/configuration.html#assume-role-provider

[2018-08-02 22:06] thehesiod commented on #553
so here's why this is a HUGE job.

`RefreshableCredentials.[secret_key,access_key,token]` properties call `self._refresh()`, and this method needs to be made async so that later on `AssumeRoleCredentialFetcher._get_credentials` can be awaited.  The problem is that you can't simply make these properties async methods as they're called all over the place.  We'll need a strategy for how to attack thi

[2018-08-02 23:21] thehesiod opened #619 "[infra] async'ify Credentials class"
There are at least a couple underlying issues related to this class:

1. IAM credential refresh using requests: https://github.com/aio-libs/aiobotocore/issues/2
2. AssumeRoleProvider uses client call: https://github.com/aio-libs/aiobotocore/issues/553 + https://github.com/aio-libs/aiobotocore/issues/663

First one results in possible hangs of the main thread, while second one is broken because it'

[2018-08-02 23:24] thehesiod commented on #36
another option is switching to the c++ library: https://github.com/aws/aws-sdk-cpp this would greatly increase performance as well, mainly due to signing.

[2018-08-10 13:43] mjmdavis commented on #619
Is there a workaround for this at the moment?

[2018-08-14 13:30] mmslindner opened #624 "Broader version requirements for botocore"
setup.py specifies a very small range of versions for botocore:

    botocore<1.10.59,>=1.10.58

When using aiobotocore as a library, this easily leads unsolvable dependency conflicts. It would be great to allow a broader version range.

[2018-08-23 19:25] rmariano opened #626 "Suggestion to vendor botocore"
As other users (https://github.com/aio-libs/aiobotocore/issues/624) we also faced issues with transitive dependencies (the constraints put on ``botocore`` collide with other dependencies in our projects).

If instead of depending on a narrow range of versions of ``botocore`` this one is included inside this repository (via a git sub-module, or similar approaches), it will be much simpler to handle

[2018-08-23 21:51] thehesiod commented on #626
sure, we always welcome PRs :)

[2018-08-23 21:52] thehesiod commented on #626
but it would have to not only be botocore, but aiohttp and all the sub-dependencies no?  Not so simple, and not easy to maintain.

[2018-08-25 18:41] rmariano commented on #626
I wonder if this can be done with a git sub-module, and in that case, we can get the updates by ``git pull`` and pointing to the new commit/tag. It would be the same as updating the version number in the ``setup.py``, only that done via git.
For the record, I also don't like vendoring dependencies, but depending on a very specific version makes it harder for clients to install alongside other pack

[2018-08-26 11:07] asvetlov commented on #626
I think that vendoring is a bad idea.
It overcomplicates the library maintaining.
Python doesn't support pointing the imported package version.
Packages are installed globally. What version should be used by `import botocore` statement?
Transitive dependencies make the situation is even harder.
`botocore` depends on `python-dateutil` for example, `aiobotocore` depends on `aiohttp` which depends on

[2018-08-27 15:49] thehesiod commented on #626
@rmariano that's what extras are for, I suggest reading up on it, see: https://github.com/aio-libs/aiobotocore/blob/master/setup.py#L27  we're open to adding other extras that depend on botocore

[2018-08-27 15:50] thehesiod commented on #626
I'm going back to @asvetlov 's position, against vendoring, I haven't heard a solid reason yet why it's needed.

[2018-08-29 08:19] jcugat commented on #626
I have a similar issue with one project. The main blocker is that aiobotocore has a very strict version dependency with botocore (currently 1.10.58), which makes it very hard to use with a different version of boto3 for example.

The idea to vendor botocore is to avoid this strict version dependency, so we can use them independently. The rest of dependencies (or transitive ones) don't need to be v

[2018-08-29 10:46] thehesiod commented on #626
@jcugat what's preventing you from specifying boto3 via extras?  ex: `pip install aiobotocore[boto3]`

[2018-08-29 13:43] jcugat commented on #626
That I can only use a very specific version of boto3, in this case `1.7.58`, since boto3 has in their setup.py[0]:

[code]

And because aiobotocore pins botocore to `botocore>=1.10.58,<1.10.59` I can't use any newer version of boto3.

For reference, that boto3 version was released a month an a half ago, so it's quite outdated already.

[0] https://github.com/boto/boto3/blob/f398914adfc2d723ae15cbb

[2018-08-29 13:45] thehesiod commented on #626
so you're saying you want to use an older aiobotocore with a new boto3?  is that really useful?  It sounds like it's better to update aiobotocore

[2018-08-29 13:55] jcugat commented on #626
No, the other way around. I want to use a newer version of boto3, but I can't.

See this example, where I try to install the latest versions of both aiobotocore and boto3:

[code]

[2018-08-29 13:57] jcugat commented on #626
No, the other way around. I want to use a newer version of boto3, but I can't.

See this example, where I try to install the latest versions of both aiobotocore and boto3:

[code]

[2018-08-29 14:00] thehesiod commented on #626
ok I should clarify, an aiobotocore with an older botocore, with a boto3 with a newer botocore.  Why would you need a boto3 with newer botocore APIs, and not need then in aiobotocore as well?  Trying to understand the use case

[2018-08-30 12:41] rmariano commented on #626
The use case would be creating a library that needs ``aiobotocore``. This will bring a ``botocore`` in only one version:

[code]

Now a client imports our library, but also other dependencies, for instance ``boto3``. If it installs the latest ``boto3``, it will bring a newer version of ``botocore`` which is incompatible with the one that ``aiobotocore`` requires. The resulting constraints mean tha

[2018-09-03 09:53] mannickutd commented on #619
@mjmdavis the work around I used was to use a synchronous botocore call using the refresh method defined in https://www.pydoc.io/pypi/botocore-1.7.0/autoapi/credentials/index.html#credentials.RefreshableCredentials and update credentials in the aiosession for the async clients.

[2018-09-04 09:16] evemorgen opened #629 "Botocore version bump to 1.11"
Hi, since newer version of `botocore` lib is available (it provides some api changes which I'm personally interested in), I'm wondering what would it take to make use of it in `aiobotocore`. I assume that shift might be problematic due to changes related to `urllib3` and `requests`.

If anyone could point me in right direction, I'm volunteering to help :)

[2018-09-04 14:06] oba11 opened #630 "unable to create session"
I'm not sure if I'm doing something wrong but tried to execute the [example script](https://raw.githubusercontent.com/aio-libs/aiobotocore/master/examples/simple.py) but the below error

[code]

[code]

[2018-09-04 14:45] oba11 commented on #630
Figure out the issue, the botocore wasnt compabilty. Had `aws-xray-sdk` in my requirements as well, downgraded x-ray to `aws-xray-sdk==1.1` and it worked.
Thanks

[2018-09-04 14:45] #630 closed

[2018-09-05 17:50] thehesiod commented on #630
ahh, let us know if you want us to add aws-xray-sdk to the list of extras: https://github.com/aio-libs/aiobotocore/blob/master/setup.py#L26

[2018-09-05 17:57] thehesiod commented on #629
here you go: https://github.com/aio-libs/aiobotocore/blob/master/CONTRIBUTING.rst#how-to-upgrade-botocore  let us know if you run into any issues!

[2018-09-05 20:35] oba11 commented on #630
@thehesiod I think it's okay with those 2 (awscli and boto3), else the extra might end up being a huge list. Thank you

[2018-10-22 09:29] sbrandtb commented on #619
@mannickutd Could you elaborate and maybe provide a code snippet?

[2018-10-23 03:44] jaddison commented on #611
Not sure what the rationality is for pushing Python version deprecation so rapidly?

Major Linux distributions (for example) have LTS releases that maintain 3.5 (without easy Python upgrading) until 2021 (eg Ubuntu 16.04: https://wiki.ubuntu.com/Releases).

If you want to encourage adoption, you need to cater to a fairly large demographic. Basically, pick a deprecation/upgrade policy that meets th

[2018-10-23 05:30] thehesiod commented on #611
it's to get rid of custom code, less code to maintain = better

[2018-10-23 14:06] and800 opened #641 "Sync readthedocs page"
It seems that [the docs build](https://aiobotocore.readthedocs.io/en/latest/index.html) is out of sync. It doesn't include the latest changes in docs code, for example, native coroutines in examples page.

[2018-10-23 15:29] jaddison commented on #611
I agree it's _technically_ better - as long as you are willing to accept that it will unfortunately be at the _expense of your user base_.

I suppose you could advise anyone using 3.5 to use version 'x' (the last version to support 3.5), and that they cannot upgrade - but it would still turn a lot of people off (after all, they won't get fixes or new features), unless you were maintaining two stre

[2018-10-23 16:19] thehesiod commented on #611
ya part of this is to get feedback for how many people can't upgrade to 3.6 to see if we can't update yet, or need to support a backport.  Is there a technical reason you guys can't switch to 3.6?

[2018-10-23 16:48] jaddison commented on #611
Sorry, I thought I was pretty clear in my previous messaging:

My use case: I'm looking at using aiobotocore in a product I'm planning to open source. I'm choosing to target users who are Python3.5+, because of the LTS reason mentioned above. If I use aiobotocore and have to target Python3.6, that will exclude many people who rely on Ubuntu LTS support (just an example, I assume other distros are

[2018-10-23 16:54] jaddison commented on #611
I do think that it's important for open source projects like `aiobotocore` to have a deprecation policy that allows them to refactor and drop support for dependencies to make project maintenance easier. Absolutely.

But that deprecation policy needs to be driven by outside factors that are hard to gauge. I know you guys are trying to do this by having this issue open for discussion - kudos to you!

[2018-10-23 16:56] thehesiod commented on #611
using LTS distro does lock one to the version it's available with.  We use jessie w/ 3.6 by compiling python ourselves.  Also there are things like pipenv which allow you to install in user land.

[2018-10-23 17:01] thehesiod commented on #611
btw, python devs seem to not care too much about backporting important fixes :(  For example, 3.6 has a horrible bug where each warning will trigger a memory leak, only fixed in 3.7 :(  We had to build 3.6 with the patch ourselves: https://github.com/python/cpython/pull/4587

[2018-10-23 17:01] thehesiod commented on #611
lets keep the conversation going, really appreciate the feedback!

[2018-10-23 17:13] jaddison commented on #611
Perhaps subjective on my part, but I'd consider Python not back-porting bugfixes very different from a Python package removing support for older Python versions - an apples to oranges comparison.

Agreed, people _can_ upgrade Python, but I don't think many would. It sort of defeats the purpose of going with an LTS distro. Pyinstaller is pretty niche; pipenv (I don't think?) allows you to install a

[2018-10-23 17:29] thehesiod commented on #611
whoops, pyenv: https://github.com/pyenv/pyenv.  We can definitely keep a backport, and backport important fixes.

Having a release without important fixes effectively makes it worse than dead, because now you have to avoid that version and are forced to use the new (or older) version...whereas if aiobotocore were to drop support for 3.5 you could presumably still use the old release, but wouldn't

[2018-10-23 17:44] jaddison commented on #611
@thehesiod I agree completely with your last message. I think that is the best approach.

[2018-10-24 09:46] asvetlov commented on #611
@thehesiod could you please enumerate of Python 3.5 spikes you want to get rid?
I mean new syntax and other backward incompatible changes.

[2018-10-24 16:21] thehesiod commented on #611
Will start it in this post:
- greatly simplify this: https://github.com/aio-libs/aiobotocore/blob/master/aiobotocore/paginate.py#L31 to look more like this: https://github.com/boto/botocore/blob/1.10.58/botocore/paginate.py#L238
- similarly with https://github.com/aio-libs/aiobotocore/blob/master/aiobotocore/response.py#L109 and https://github.com/boto/botocore/blob/1.10.58/botocore/response.py#L1

[2018-10-24 16:37] asvetlov commented on #611
If all you need is async generator support -- please consider https://pypi.org/project/async_generator/ usage.

[2018-10-24 16:51] thehesiod commented on #611
cool, will look into it, thanks

[2018-10-26 15:59] demmsnt opened #642 "unexpected argument"
I use script
`import asyncio
import aiobotocore

AWS_ACCESS_KEY_ID = "XXX"
AWS_SECRET_ACCESS_KEY = "XXX"
AWS_SESSION_TOKEN = "XXX"

async def go(loop):

    bucket = 'my_bucket'

    session = aiobotocore.get_session(loop=loop)
    async with session.create_client('s3', region_name='us-east-1',
                                     aws_secret_access_key=AWS_SECRET_ACCESS_KEY,

[2018-10-26 16:01] demmsnt commented on #642
I use AWS_SESSION_TOKEN because i need IAM `aws sts get-session-token --duration-seconds 28800 --serial-number $ARN --token-code $IAM_KEY`

[2018-10-26 16:04] thehesiod commented on #642
you're using a botocore that doesn't match aiobotocore, see: https://github.com/aio-libs/aiobotocore/blob/master/setup.py#L11

[2018-10-29 09:32] demmsnt commented on #642
I think I shot myself in the leg when I installed aws cli. Thank you... I close issue

[2018-10-29 09:32] #642 closed

[2018-10-29 16:42] thehesiod commented on #642
Ya use our extras: aiobotocore[awscli].  We support several

[2018-11-09 11:00] asvetlov commented on #611
Would you enumerate these improvements?

[2018-11-12 01:37] dimaqq opened #645 "Upload to non-existing bucket appears to hang"
Environment:
* Docker based off python:3.7.1-alpine3.8
* with hypercorn, quart, uvloop
* aiobotocore==0.9.4
* against minio:edge

Differential diagnosis:
* upload to existing bucket, with good key and small data works ok
* upload to non-existing bucket, with same key and data appears to hang indefinitely

Apologies that I'm not yet able to test against real S3 and cannot exclude minio as culprit.

[2018-11-12 01:54] dimaqq commented on #611
Good flame bait, Andrew. I believe you know pros and cons quite well.

IMO, for this project, the main improvement is not having to pass the event loop around. For me, that's a dramatic usability improvement. In fact if I see an asyncio library or project that claims to support 3.5, my gut reaction is "how can I make sure they support 3.5 *correctly*".

Internal asyncio changes are said to have be

[2018-11-21 15:15] terrycain commented on #618
I think generally people use boto3's download/upload_file function that internally calls s3 transfer which deals with doing chunking and doing multipart uploads to S3. I've had a good stab at replicating that in aioboto3 so that you can do asynchronous uploads/downloads from S3, give it a go if you like.

[2018-11-25 09:37] thehesiod commented on #618
Ah yes, I was discussing streaming upload, vs chunked upload

[2018-12-02 17:42] navidnabavi commented on #552
Somehow this problem made this library unusable. Is there any plan for fixing it?

[2018-12-03 20:38] ottokruse opened #651 "Q: S3 get object parallel call seems not really parallel?"
Hope you can enlighten me. I wrote a little Lambda to test out aiobotocore, but I don't understand the behavior I see.

The Lambda fetches 5 files from s3, and runs in around 150ms consistently (besides the cold start run).
When I make it 10 files, I see it takes around 300ms consistently.

Why is the time doubled? Since the fetches are async, I would not expect to see any (significant) increase i

[2018-12-03 20:44] thehesiod commented on #651
botocore sets the default connection pool size to 10 (max_pool_connections): https://botocore.amazonaws.com/v1/documentation/api/latest/reference/config.html#botocore-config, so in aiobotocore we follow the same config option.  Try bumping up the limit.

[2018-12-03 21:10] ottokruse commented on #651
Thx for the quick response!

I did see that advice also in another issue but I thought it does not matter in my test as my test compares 5 parallel with 10 parallel gets (so within the pool size). Right?

Anyway I tried it like this also, per your suggestion, but no luck it gives the same results (10 gets take 300ms, 5 gets 150ms):

	import asyncio
	import aiobotocore

	loop = asyncio.get_event_lo

[2018-12-03 22:04] thehesiod commented on #651
sorry, ya that's an automatic reply of mine :]  What version of aiobotocore are you using?  Have you checked with a tool like netstat that it's opening 10 connections?  Have you tried locally to see if it's not the lambda environment limiting the number of connections?

[2018-12-04 19:50] thehesiod commented on #651
btw, I just tested, and for me it takes ~240ms for either 5 or 10

[2018-12-05 10:54] ottokruse commented on #651
Okay, I too did some more testing, this time uploading 1 MB files in parallel. It is pretty hard getting consistent results when testing against the real S3. Therefore I also tried the tests against localstack. Which also gave varying results.

When I logged this issue it seemed that 10 parallel calls were consistently taking twice as long as 5 parallel calls (which would indicate the parallelism/

[2018-12-05 10:54] #651 closed

[2018-12-09 09:45] gricey432 opened #652 "Status of aiobotocore"
Just found this and it looks like exactly what I need, but it looks like it's unmaintained / approaching being unmaintained.

I'm basing this off PR #639 and the fact there's been one commit in the last 4 months. Is aibotocore still an active project which will continue to track botocore into the future?

[2018-12-09 14:35] jettify commented on #652
Project is sort of active, we try to maintain it when have free time or inspiration (sorry we can not guaranty anything more, this is open source), looks like recently we dropped the ball there. We always looking for volunteers and active contributors to make project more active.

As for #639 PR is merged and new version is released.

[2018-12-09 23:38] gricey432 commented on #652
Awesome! Totally understand it's OSS, just always good to be sure a project isn't dead before starting a new project that relies on it :+1:

[2018-12-09 23:38] #652 closed

[2018-12-10 02:14] thehesiod commented on #652
This was my fault, for some reason I didn't get notifications on that PR. I normally try to review w/in a few days

[2018-12-13 15:34] svirpridon commented on #626
Isn't locking down to a single patch an anti-pattern for semver? I'm considering dropping aiobotocore and using plain old (aio)http requests because of dependency conflicts between aiobotocore, boto3, moto, and internal packages. Nobody else is doing the patch version pinning -- it's aiobotocore doing it and breaking things.

[2018-12-13 16:01] asvetlov commented on #626
Say again, aiobotocore is too coupled with botocore itself.
They way as the integration is done doesn't guarantee any forward and backward compatibility.
That's why aiobotocore pins the specific botocore tested and checked version.
Sorry for inconvinience

[2018-12-15 19:59] thehesiod commented on #626
@svirpridon that's why we have those in extras

[2018-12-16 18:06] jettify commented on #652
Good news, @terrycain (aiomysql maintainer and contributor of #639 PR) volunteered to help me and @thehesiod with support of aiobotocore. We should be more responsive in future since more people looking after this project.

[2018-12-26 04:53] dimaqq commented on #645
Hi, sorry, I moved on to another project and will not be able to test this.
I'm pretty sure no exception was raised as that would generate an HTTP 400 response.

[2018-12-26 18:06] thehesiod commented on #645
please state what botocore version you had, this is critically important

[2018-12-26 18:14] thehesiod commented on #645
also can you provide full test-case?  I can implement something but won't necessarily be what your issue is.  Given you say this is happening in docker please provide dockerfile.

[2019-01-04 08:43] py-radicz opened #658 "Is it possible to upload to s3 asynchronously by chunks?"
What I am trying to do: I want to download file from remote source and upload it directly to s3 without storing the bytes on the localhost. (Stream the data from remote machine through my machine to s3). There are tens of files in remote location, thats why I want to use async lib, to stream all files simultaneously to save time.

Is it possible with current version of lib to do something like fol

[2019-01-04 22:17] thehesiod commented on #658
I'm interested in your findings, let me know if you need some pointers

[2019-01-04 23:22] thehesiod commented on #658
ok, working on this now, will require some support

[2019-01-05 00:16] thehesiod commented on #658
omg, this is another painful thing.  So first thing needed was adding:
[code]
to `StreamingBody`.

Next issue is that the falling callstack needs to be async:
[code]

This is similar in complexity to https://github.com/aio-libs/aiobotocore/issues/619

[2019-01-05 03:19] thehesiod commented on #658
ugh, I found that if you do something like:
[code]

botocore reads the whole file to calculate an MD5 of the file, so you won't save anything in terms of memory usage.

[2019-01-05 03:55] thehesiod commented on #658
@py-radicz could you come up with a botocore solution, I can then try to get it working in aiobotocore.  What I have in my PR I don't think streams as I believe the PutObject doesn't support streaming bodies: https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html  seems like it requires a `Content-Length`.

[2019-01-05 07:59] py-radicz commented on #658
Hey, thanks for the quick response, I was also unsuccessful with aiobotocore/botocore with what I wanted.

For anyone interested I have solved the issue using aiohttp + s3fs (which isnt async but read on)

[code]

[2019-01-05 18:21] thehesiod commented on #658
Can probably do an multipart upload, have you tried that? You can then do everything in aiobotocore I think

[2019-01-16 06:43] brownbro opened #662 "`InvalidSignatureException` occurs when a client is used for more than 5 mins"
What I want to do: I want to invoke SageMaker endpoint asynchronously to inference jpeg images (like the codes below).

[code]

Problem: If the number of images is more than hundreds or thousands, `InvalidSignatureException` occurs.

[code]

Question: Is there any way to avoid this error (e.g., to set longer expiration date or to refresh signature automatically)?

---

- Versions
    - aiobotocore

[2019-01-16 17:14] thehesiod commented on #662
two issues

1. there is a default max connection limit of 10, may want to bump that up: https://github.com/boto/botocore/blob/develop/botocore/config.py#L54 `max_pool_connections`.
2. You should be using something like a work pool or semaphore, this is what I created and use: https://github.com/CaliDog/asyncpool

The issue you're running into is that botocore is creating all the requests up-front,

[2019-01-17 01:51] brownbro commented on #662
Thank you for quick response 🙏
 I'll check them.

[2019-01-17 01:51] #662 closed

[2019-01-17 06:02] thehesiod commented on #662
@brownbro two potential issues using this mechanism
1. this will can use a lot of CPU and memory because you're creating a ton of coroutines upfront, and python has to figure out which one can be woken up each cycle
2. `asyncio.gather` by default will break after the first exception, and then leave the rest running as orphans.  I created this to work as one would expect: https://gist.github.com/th

[2019-01-17 06:07] thehesiod commented on #662
oh and #3, you'll only have 10 working at a time since you didn't set max_pool_connections, should do:

[code]

[2019-01-17 22:24] spg opened #663 "AWS_PROFILE: TypeError: can't pickle coroutine objects"
Hey! I get the following error:

[code]

When setting the `AWS_PROFILE` environment variable, and running the following script:

[code]

Probably related to https://github.com/aio-libs/aiobotocore/issues/619 but not sure.

Running on python 3.6.6 in OS X Mojave.
Using a fresh virtualenv, with only `aiobotocore==0.10.0` installed.

[2019-01-18 05:59] thehesiod commented on #663
Does this happen with 0.9.4?

[2019-01-21 08:06] dimaqq commented on #629
Obsolete as release 0.10.0 depends on 1.12.xx

[2019-01-21 08:09] dimaqq opened #664 "Getting ready for Python 3.8"
[code]

It seems to be a matter of upgrading to new[er] `botocore`.

[2019-01-21 08:11] dimaqq commented on #664
Version set when encountered:

[code]

[2019-01-21 10:31] #245 closed

[2019-01-21 10:32] thehesiod commented on #658
please see #618, @terrycain described this should be done in aioboto3

[2019-01-21 10:32] #658 closed

[2019-01-21 10:34] thehesiod commented on #624
it would, but would require vendoring botocore which we do not want to do as this project should move fast and always support the latest botocore (see discussion in #626 .  Dependency conflicts should be solved via our extras, ex: aiobotocore[awscli,boto3].  Let us know if there are other conflicts!

[2019-01-21 10:34] #624 closed

[2019-01-21 10:39] thehesiod commented on #663
I just tried, could not reproduce:
[code]

[2019-01-21 10:41] thehesiod commented on #645
going to close as @dimaqq is unable to re-test and unable to exclude minio as culprit nor uvloop.  Feel free to re-open if you have more information.

[2019-01-21 10:41] #645 closed

[2019-01-21 10:42] thehesiod commented on #641
@jettify how is this done?  Can we add this to our contributing page or somehow make this automated?

[2019-01-21 10:44] thehesiod commented on #583
I was going to close this in favor of pytest-moto, but I'm going to morph it into moving us to use pytest-moto, and contributing to it where it makes sense.

[2019-01-21 10:46] thehesiod opened #665 "[test infra] switch to pytest-moto"
https://github.com/jotes/pytest-moto

based on discussion in #583

perhaps contributing some of our code to it where it makes sense.

[2019-01-21 10:46] #583 closed

[2019-01-21 10:52] thehesiod opened #666 "[infra] come up with file stream support strategy"
based on conversation in https://github.com/aio-libs/aiobotocore/pull/67

[2019-01-21 10:53] samuelcolvin commented on #245
woop. Thank you.

[2019-01-21 10:55] thehesiod commented on #245
it has for awhile, we just forgot to close this ;)

[2019-01-21 10:56] thehesiod commented on #619
prefixing with infra as my experiment yielded a LOT of changes

[2019-01-24 00:17] rgbkrk opened #668 "Consider integration tests using minio"
We've had some good success in [`bookstore`](https://github.com/nteract/bookstore) using an [extra container with minio running for integration testing on CircleCI](https://github.com/nteract/bookstore/blob/196d7c06555a2194008c094d0365b4c0832662e8/.circleci/config.yml#L11-L16). Would you all be interested in using CircleCI + a minio server? I'm happy to contribute something now that we're planning

[2019-01-24 01:36] thehesiod commented on #668
I'm unaware of minio, it has a backend compatible with S3 APIs?

[2019-01-24 03:21] rgbkrk commented on #668
Yup, https://minio.io/ is an S3 compatible object store. It can be run in a docker container.

[2019-01-24 09:09] thehesiod commented on #668
ah, hmm, given it's s3 compatible, as long as we maintain s3 compatibility it should work, any issues would almost be definition be an issue with botocore or minio so I'm not sure this would be the right place for those tests.  thoughts?

[2019-01-24 09:10] thehesiod commented on #668
or, an issue with the adapter, in which case we should repro with S3 tests w/ moto.  We already know of one gaping hole, see open issues.  Help wanted if that affects you! :)

[2019-01-24 17:23] rgbkrk commented on #668
Yeah I now see how you're wrapping `botocore` so it would likely be a silly suite of tests. We'll keep on with our integration tests using `minio`. 😄

[2019-01-24 17:23] #668 closed

[2019-01-26 08:07] thehesiod opened #670 "[UNITTESTS] Add test to ensure awscli + boto3 + botocore requirements match"

[2019-01-26 20:19] thehesiod commented on #641
hmm, seems to all be there: https://aiobotocore.readthedocs.io/en/latest/examples.html

[2019-01-26 21:50] willingc commented on #641
@thehesiod Looks up to date yet the RTD build is failing. I've opened PR #672 to correct.

[2019-01-27 00:09] #641 closed

[2019-01-29 12:14] oba11 opened #674 "AttributeError: 'str' object has no attribute 'hyphenize'"
On update of aiobotocore to 0.10.0, started getting below error

[code]

Rolling back to 0.9.4 resolves this error

[2019-01-30 08:50] oba11 commented on #674
My requirements.txt looks like below

[code]

Changing my requirements.txt to `aiobotocore[boto3]==0.9.4` resolves it so I think its likely the updated version was pinned to the right `botocore` version.

[2019-01-30 18:04] thehesiod commented on #674
the error you stated is a typical problem with mismatched botocore module.  was this in an empty virtualenv or did it already have other module installed.  Please list `pip3 freeze` results.

I just tried and it worked fine.

[code]

[2019-01-31 07:51] oba11 commented on #674
I'm actually using a lambda function.

My best guess is because of the botocore requirement in the  `boto3==1.9.49` which is `botocore>=1.12.49,<1.13.0` but was set as `botocore>=1.12.49,<1.12.50` in aiobotocore.

[2019-01-31 07:58] thehesiod commented on #674
I just tried again installing in a fresh venv `aiobotocore[boto3]` and still did not repo, please provide reproducible test case or return results of `pip list` or I'll have to close this as there's no way for us to help you.  There's a myriad of things that could be happening in the lambda.

[2019-02-03 17:35] ikhlestov opened #676 "Supports the concept of sessions profiles"
Hello,

botocore now supports parameter `profile_name` during[ session initialization](https://github.com/boto/botocore/blob/21ad34d727a301dbfc3bb47159a41cbd64e3bff2/botocore/session.py#L94). From my point of view, this is a very useful feature. Can we add it to aiobotocore as well?

[2019-02-03 18:54] thehesiod commented on #676
Already supported via `AioSession`

[2019-02-03 20:07] ikhlestov commented on #676
Yes, now I see. I just create a session with `aiobotocore.get_session()` call. But it doesn't support args and kwargs transfer to AioSession creation.
Is it desired behavior?

[2019-02-04 15:56] jettify commented on #676
as fare as I remember it is port of:
https://github.com/boto/botocore/blob/1ae092ed95b39c3336ba48c5cbd71b7c37924d05/botocore/session.py#L1012-L1016

[2019-02-04 19:40] ikhlestov commented on #676
In such case `aiobotocore.get_session()` shouldn't support kwargs as well and we can close this issue.
Thank you for your assistance.

[2019-02-04 19:40] #676 closed

[2019-02-11 11:44] oba11 commented on #674
I've the able to figure the issue, this wasnt an issue with `aiobotocore` library or lambda but the way I do package/deploy my serverless app.

Do use [serverless-python-requirements](https://www.npmjs.com/package/serverless-python-requirements) for packaging my serverless apps but I wasnt aware that the serverless-module [excludes](https://github.com/UnitedIncome/serverless-python-requirements#om

[2019-02-11 11:44] #674 closed

[2019-02-11 17:18] thehesiod commented on #611
in above PR I used the async-generator module @asvetlov recommended and it worked well, going to close this issue as that was the major pain point.  If anyone else feels strongly for something we can do better by dropping old versions please re-open new issue.

[2019-02-11 17:18] #611 closed

[2019-02-11 18:34] asvetlov commented on #611
Python 3.5.3+ doesn't need to pass event loop instance everywhere.
aiobotocore (and aiohttp) requires 3.5.3 starting from aiohttp 3.0 (about a year ago).
async comprehension is a nice feature, but aiobotocore itself needs async generators only which is solved by `async-generator` module.

[2019-02-12 02:45] stupoid opened #682 "'convert_to_response_dict' was never awaited in aiobotocore/endpoint.py:293"
**Describe the bug**
'convert_to_response_dict' was never awaited in aiobotocore/endpoint.py:293

I get this warning:
RuntimeWarning: coroutine 'convert_to_response_dict' was never awaited

**Additional context**
Assuming it is just a typo. Warning goes away when I added await.

aiobotocore/endpoint.py:293
[code]

[2019-02-12 03:10] thehesiod commented on #682
mind a testcase so we can ensure this doesn't happen again?

[2019-02-12 03:39] thehesiod commented on #682
figured it out

[2019-02-12 03:43] thehesiod commented on #682
thanks for the find!  I'll try to get the fix in later tonight

[2019-02-12 05:01] #682 closed

[2019-03-01 20:09] thehesiod commented on #663
looks like this is assume role, we're repro'd this locally

[2019-03-01 21:29] thehesiod commented on #663
try this monkeypatch:
[code]

[2019-03-01 21:30] thehesiod commented on #553
temp monkeypatch fix:
[code]

[2019-03-08 09:01] brentEich opened #687 "Athena queries don't run asynchronously when using aiobotocore and asyncio"
**Bug Description**
I receive no error when running the code below, however the code does not run asynchronously as the timings of the queries do not occur altogether. Am I missing some code or am I including code which should not be present.

**Checklist**
- [ X ] I have reproduced in environment where `pip check` passes without errors
- [ X ] I have provided `pip freeze` results
- [ X ] I have p

[2019-03-08 10:18] thehesiod commented on #687
I think you meant to do this?
[code]

be careful with gather as after the first task throws an exception, the method will raise and the rest of the task will keep executing

[2019-03-08 10:46] brentEich commented on #687
Many thanks to you @thehesiod! This worked perfectly for me. All the queries fired together.

[2019-03-08 13:40] #687 closed

[2019-03-21 03:37] thehesiod commented on #663
unfortunately this is a dup of https://github.com/aio-libs/aiobotocore/issues/619, closing this in favor of other. Please track that other issue

[2019-03-29 17:40] mojimi commented on #607
@thehesiod Any update on this? Is lambda calls working correctly here? Can you wait asynchronously for lambda invocations? Can you post a working example?

[2019-03-30 00:37] thehesiod commented on #607
@mojimi I haven't seen socket timeouts anymore with the latest versions.

[2019-03-31 18:46] mojimi commented on #607
Could you share some example on using it? I couldn't find any example on waiting on several lamba invocations using gather

[2019-03-31 20:06] thehesiod commented on #607
The only waiter that seems to exist is function exists: https://botocore.amazonaws.com/v1/documentation/api/latest/reference/services/lambda.html#id48

[2019-03-31 20:10] mojimi commented on #607
No by `wait` I meant `await` hehe, just wanted a simple example on how to invoke a lambda using aiobotocore

[2019-04-01 05:41] thehesiod commented on #607
It should be the same as with botocore just you need to call with await. Is there a specific issue you're running into?

[2019-04-01 13:32] mojimi commented on #607
I hadn't try anything actually since I'm not sure which doc to follow since we're not using boto3 here.

Is it something like this?

[code]

The idea is to call several lambdas that will return a img url as a base64 representation of the downloaded image

[2019-04-01 16:28] thehesiod commented on #607
That should work, beware that with the regular gather if an error is raised all the other tasks continue running in the background unchecked.  I wrote some helpers for this: https://gist.github.com/thehesiod/524a1f005d0f3fb61a8952f272d8709e

btw are you aware of https://github.com/terrycain/aioboto3 ?

[2019-04-01 16:52] mojimi commented on #607
Ah I  had no idea about aioboto3, thanks

[2019-04-03 00:40] timsavage commented on #670
With the latest boto3 installed you currently get a dependency failure caused by pip trying to resolve a version that will match: <1.12.92,<1.13.0,>=1.12.127,>=1.12.91

Which will never happen.

[2019-04-03 09:54] terrycain commented on #670
Not using much brain power here but couldn't we run a travis test that installs `aiobotocore[boto3]` then run pipdeptree (or similar) and see if its exits 0?

[2019-04-19 17:51] LeonardAukea opened #694 "Reading multiple bulked jsons from s3 asynchronously, is there a better way?"
Hi all, I asked this question on stackoverflow https://stackoverflow.com/questions/55765219/reading-multiple-bulked-jsons-from-s3-asynchronously-is-there-a-better-way.

Unfortunately, I could not tag `aiobotocore`.
I'm very unfamiliar with `asyncio`. But I decided it would be fun to try out your library. Since I may possibly have a use case for it. If any of you maintainers have any suggestions or

[2019-04-20 09:03] LeonardAukea commented on #694
I think, a simplified version of this could be a good as an example as well #288. It was not and still isn't completely obvious to me how to best use this library.  I'd be willing to clean this up and remove eg. the `iterload` stuff to make it more clear and  less confusing.

[2019-04-21 06:30] thehesiod commented on #694
Just answered: https://stackoverflow.com/questions/55765219/reading-multiple-bulked-jsons-from-s3-asynchronously-is-there-a-better-way/55780438#55780438

[2019-04-21 06:33] thehesiod commented on #288
btw, almost everything is the same as botocore, the only difference is the API calls are now async, and some of the high level classes are `Aio` (Ex: AioSession).  There's not much magic to it.

[2019-04-21 06:34] #663 closed

[2019-04-21 06:35] thehesiod commented on #552
yay, I think this is now fixed

[2019-04-21 06:35] #552 closed

[2019-04-21 06:36] thehesiod commented on #552
note: there are no releases with this yet, so you have to apply the patches to a custom build of python

[2019-04-21 06:37] thehesiod opened #695 "Switch paginator to use newly added async_generator"
will help with future merges

[2019-04-24 08:02] LeonardAukea commented on #694
@thehesiod Using your approach actually leads to this happening once in a while `ssl.SSLError: [SSL: KRB5_S_INIT] application data after close notify (_ssl.c:2609)` which leads to data not being loaded. Not sure why it is happening, But it's not super stable.

[2019-04-24 10:43] thehesiod commented on #694
Can you tell us a pip freeze plus python version and what platform and openssl version you're using?

[2019-04-24 10:45] thehesiod commented on #694
FYI we do millions of these requests each day with this method. May be a bad aiohttp release/python combo

[2019-04-24 10:50] LeonardAukea commented on #694
Ok, sorry. I did not use the exact same method. it was when I tired to use it with https://github.com/MagicStack/uvloop:

[code]

[2019-04-24 20:35] thehesiod commented on #694
I'll report the issue to uvloop then

[2019-04-25 08:22] LeonardAukea commented on #694
[code]

Actually, it is still acting up at least in a notebook environment. First I tried with https://github.com/erdewit/nest_asyncio and it worked fine. but it is supposed to be not needed anymore due to the implementation of `%autoawait`. It seems to not only be a `uvloop` issue. I suspect it has something to do with the implementation of jupyter and ipykernel which runs in a async loop.

[2019-04-25 16:09] thehesiod commented on #694
uhh, something like nested event loops, which is not supported by the base python version is almost guaranteed to break stuff

[2019-04-25 16:20] thehesiod commented on #694
have you tried 3.7.3?  Also are you using a brewed, official, or custom install of python?  Can you try with botocore with threads?  I wonder if this is a missing retry exception class: https://github.com/boto/botocore/blob/develop/botocore/retryhandler.py#L31 which we extend here: https://github.com/aio-libs/aiobotocore/blob/master/aiobotocore/endpoint.py#L35

[2019-04-25 16:49] LeonardAukea commented on #694
I'm using `pyenv` which I've installed via brew to manage my pythons. So I've ran this with python 3.7.3. The `SSL Handshake` issue seems to multiply when I have a higher number of workers. Also, memory is reaching the limit at this point. Maybe  it just needs to be tuned correctly. Is there a later release than `aiobotocore==0.10.2`?

[2019-04-26 00:30] thehesiod commented on #694
looks like your issue is this: https://github.com/aio-libs/aiohttp/issues/3535

[2019-04-26 00:31] thehesiod commented on #694
try downgrading to aiohttp 3.3.2, that's what we're using in prod

[2019-04-26 00:31] thehesiod commented on #694
oh, and we're not running 3.7 in prod yet with aiohttp, only 3.6

[2019-04-29 21:52] LeonardAukea commented on #694
At least this didn't help. I'll try with python 3.6 as well.

[2019-05-05 23:55] durkode opened #698 "v0.10.0 onwards breaks rate limiting retries"
**Describe the bug**

With v0.9.4, when a rate limiting error is received it backs off and retries again later. In v0.10.0 (and also observed with v0.10.2) this rate limiting error is thrown without retrying.

**Checklist**
- [x] I have reproduced in environment where `pip check` passes without errors
- [x] I have provided `pip freeze` results
- [x] I have provided sample code or detailed way to r

[2019-05-08 19:16] TheDirtyGambit opened #700 "Support virtual-hosted style for s3 presigned URLs"
With the new AWS forum post: https://forums.aws.amazon.com/ann.jspa?annID=6776
announcing no longer supporting path-style API requests.

Using:
`async with aws.create_s3_client() as client:
            return client.generate_presigned_url('put_object', Params={
                'Bucket': Bucket, 'Key': Key}, ExpiresIn=3600, HttpMethod='PUT')`

returns a path-style presigned url:
`http://aws_address

[2019-05-09 04:27] thehesiod commented on #700
this is how I'm doing things because otherwise it fails for keys that include `~`:
[code]

we support everything that botocore supports, so we shouldn't need to do anything

[2019-05-09 04:28] thehesiod commented on #698
thanks for report, will look into this asap

[2019-05-09 05:30] thehesiod commented on #698
this is a botocore bug, I just reproduced it with botocore:

[code]

The issue is that when you make an API call, if the error code is > 300, it will throw: https://github.com/boto/botocore/blob/develop/botocore/client.py#L658 but won't re-try: https://github.com/boto/botocore/blob/develop/botocore/client.py#L357

[2019-05-09 05:30] thehesiod commented on #698
can log it there

[2019-05-13 19:30] thehesiod commented on #700
closing as this isn't an aiobotocore issue.  Feel free to re-open if you don't feel this is the case!

btw, I think my issue is actually a bug in botocore, one day I may open a bug :)

[2019-05-13 19:30] #700 closed

[2019-05-13 19:30] thehesiod commented on #698
closing as this isn't an aiobotocore issue.  Feel free to re-open if you don't feel this is the case!

[2019-05-13 19:30] #698 closed

[2019-05-13 19:38] thehesiod commented on #694
so I'm going to close this as this issue has morphed.  Can you gather your findings into a new issue with the following taking into account:

1.  If the SSL issue is being retried we're behaving normally.
2.  If the SSL issue happens in botocore and is not being retried there as well it's a botocore issue.
3.  If the issue happens w/ raw asyncio sockets it's an asyncio issue
4. If the issue happen

[2019-05-13 19:38] #694 closed

[2019-05-13 19:39] thehesiod commented on #619
btw my PR needs to be re-done to be cleaner by delaying client creation to the `__aenter__` so we don't have an extra await.

[2019-05-14 11:23] LeonardAukea commented on #694
@thehesiod yeah that's fine. I will try to find some time during the weekend to test some more.   I'll keep you posted.

[2019-06-17 16:51] waprin opened #707 "botocore attempting to automatically get region calls itself: `coroutine object is not subscritable`"
I am running into this issue on my PWS (Pivotal Web Services) deploy, but I still can't figure out how to reproduce locally. I think it has something to do with my AWS region configuration, however I deleted my default region from `~/.aws/credentials` and it still works locally but fails on PWS.

Basically it looks like the issue to me is that when botocore isn't provided the region of a bucket, i

[2019-07-10 23:22] mpacer opened #710 "Reading from response body outside of client context can hang without warning"
**Describe the bug**
Reading `aiobotocore.response.StreamingBody` outside of the s3.client context manager sometimes hangs forever and does not raise a warning.

**Checklist**
- [x] I have reproduced in environment where `pip check` passes without errors
- [x] I have provided `pip freeze` results
- [x] I have provided sample code or detailed way to reproduce
-  I have tried the same code in botoco

[2019-07-15 17:12] thehesiod commented on #710
I've seen issues with aiohttp 3.5.4, can you try with 3.2.2?  That's what we use for prod

[2019-07-15 17:13] thehesiod commented on #710
hanging while reading means most likely that the aiohttp socket read timeout is not functioning.  You can also try reducing the read/connect timeout as the default is 60s: https://botocore.amazonaws.com/v1/documentation/api/latest/reference/config.html

[2019-07-15 17:20] thehesiod commented on #710
btw in regard to ```(I did not reproduce in botocore because there are no APIs in botocore that use asyncio's async/await syntax for coroutines.)``` this was meant as trying it with the equivalent synchronous APIs to ensure it's not a botocore issue.  In this case with timeouts you wouldn't be able to try with botocore because botocore uses requests as the backend, whereas aiobotocore uses aiohttp

[2019-07-15 22:01] mpacer commented on #710
Thank you for responding — when I go to try aiohttp 3.2.2 on PyPI I'm having difficulty finding it… it looks like the project had [3.2.1](https://pypi.org/project/aiohttp/3.2.1/) and jumped right to [3.3.0](https://pypi.org/project/aiohttp/3.3.0/) (with a [3.3.0a0 alpha](https://pypi.org/project/aiohttp/3.3.0a0/) inbetween).

[2019-07-15 22:33] thehesiod commented on #710
whoops, typo, 3.3.2

[2019-07-16 17:53] mpacer commented on #710
I just verified that it hangs for over a minute after updating to 3.3.2 if you don't have the object being read inside the client context manager.

Why do you think the context manager is making this difference as it relates under the hood to aiohttp? Because it's not just that it's hanging, it's that the same request would succeed in the context manager but it doesn't outside of it (unless the s3

[2019-07-17 08:08] thehesiod commented on #710
if you could post some example code it would really help.  Without that I can just theorize.  IIRC each client has an aiohttp session, which itself has a pool of connectors.  If you're not reading the body soon enough the connector may get recycled back to the pool.  If this happens you're SOL.  So it's better to hold on to a reference to the body (connector).

[2019-07-17 22:09] mpacer commented on #710
I had linked to some example code before (apologies if that wasn't clear). Here is the latest source that works: https://github.com/nteract/bookstore/blob/3e9a7ac13f776ef53a0ea47d06a885e957d60b0c/bookstore/clone.py

But it'll be easier to follow a simplified example:

[code]
which works as expected & is the fix that we're currently using.

and then the following will hang indefinitely when talking

[2019-07-18 19:21] thehesiod commented on #710
second one you can't do, because you've closed the client, which holds the aiohttp session.  You can try the same thing directly in aiohttp:
[code]
 will probably have the same issue.

[2019-07-22 19:27] mojimi opened #714 "How to set aiohttp "TCPConnector" "limit" and "limit_per_host" parameters?"
I couldn't find where I can set these two parameters from aiohttp TCPConnector, I would like to set a limit to rate limit some asynchronous lambda calls.

[2019-07-30 23:09] iechevarria opened #717 "aiobotocore get_paginator overrides PAGE_ITERATOR_CLS in botocore"
I'm currently moving from botocore to aiobotocore, and there are pieces of the application that are dependent on botocore working correctly. aiobotocore [overrides](https://github.com/aio-libs/aiobotocore/blob/b0b63d3eaa74caf6c3fa0482cb55153a117a0fcd/aiobotocore/client.py#L147) PAGE_ITERATOR_CLS in botocore when get_paginator is called, and this breaks functions where botocore's [Paginator.paginat

[2019-07-30 23:42] rahul003 opened #718 "Why is boto3 being pinned to a specific version?"
**Describe the bug**
Looks like boto3 is now pinned to a specific version. Why was this done?

[2019-07-31 11:51] terrycain commented on #718
Because boto3 will try and pull in a later non-tested version of botocore

[2019-08-06 04:02] bclodius commented on #548
Posting this here in case it helps others in future...

In my case all calls to AWS API's must go through corporate proxy.  I do not face this issue with typical synchronous boto3/botocore; but when using aiobotocore I face same issue as OP.

During client object creation you can pass kwarge `verify=False` to fix this issue.  Example snippet below.

[code]

[2019-08-07 16:50] Vikas-kum commented on #718
@terrycain , is there a specific stable version of aioboto we can pin to ?
Our build keeps on breaking because of the dependency issue.
I don't know if there is any better way. I am thinking of pinning aiobotocore to a stable version and thus pinning boto3 and botocore to specific required version.

[2019-08-09 19:07] thehesiod commented on #718
@Vikas-kum aioboto pins to aiobotocore: https://github.com/terrycain/aioboto3/blob/master/setup.py#L15 which pins boto3, I'm not sure what your issue is in particular

if you use aioboto/aiobotocore, you should depend on it for your boto3 pinning

[2019-08-09 19:12] thehesiod commented on #718
boto3 is an _optional_ extra: https://github.com/aio-libs/aiobotocore/blob/master/setup.py#L30, which helps you use a compatible version that works with  the pinned version of botocore this library requires.  Going to close because this is a fact of life for this library, and in fact is (optionally) helping you,  see https://github.com/aio-libs/aiobotocore/blob/master/CONTRIBUTING.rst#background-a

[2019-08-09 19:12] #718 closed

[2019-08-09 19:21] rahul003 commented on #718
Is there a good way to handle the case when user has a different version of boto3 installed, but we need this pinned version? Is the only way ahead that we ask user to uninstall the older package?

[2019-08-10 06:29] thehesiod commented on #718
But in a supported way. You can try and hope it works. Otherwise should pull deps from aioboto3/aiobotocore via extras

[2019-08-13 17:04] mivade commented on #285
This looks like it can probably be closed.

[2019-08-13 17:05] mivade opened #721 "API documentation is empty"
Currently, navigating to https://aiobotocore.readthedocs.io/en/latest/api.html shows a page that simply has a title "API" and no content.

[2019-08-15 07:00] thehesiod commented on #285
@jettify just created one: thehesiod

[2019-08-15 07:00] #285 closed

[2019-08-15 07:05] thehesiod commented on #714
`limit` = `Config.max_pool_connections`, see: https://botocore.amazonaws.com/v1/documentation/api/latest/reference/config.html#botocore.config.Config

we currently don't support setting `limit_per_host` as there's a TCPConnector per endpoint (host) so no need.

[2019-08-15 07:05] #714 closed

[2019-08-15 07:05] thehesiod commented on #714
feel free to re-open if this didn't answer your question

[2019-08-15 07:07] thehesiod commented on #707
indeed, this is another artifact of a deeper integration needed with botocore that #659 works to solve

[2019-08-15 07:18] thehesiod commented on #695
also per #717 we should probably create:

[code]

[2019-08-15 07:19] thehesiod commented on #717
added this to #695 if that's ok with you.  If not feel free to re-open

[2019-08-15 07:19] #717 closed

[2019-08-15 07:21] thehesiod commented on #710
going to close, if above reply doesn't make sense please re-open.

[2019-08-15 07:21] #710 closed

[2019-08-15 07:25] thehesiod commented on #666
as a reminder, you need all the bytes to be able to sign the AWS API body before sending the data...which makes incremental reading much less interesting. The async incremental reading should be done before calling aiobotocore. I'm going to close this unless there's a good use-case presented.

[2019-08-16 16:57] terrycain commented on #666
Yeah in the case of uploading large files to s3, they should be done multipart instead of put-object (for reference of anyone who lands here)

[2019-08-17 00:47] thehesiod commented on #666
actually I just remembered the useful case is supporting files so you don't need to keep the whole file in memory

[2019-09-19 05:13] dimaqq commented on #664
How about this one?
[code]

[2019-09-19 23:41] thehesiod commented on #664
re-opened ;)

[2019-09-26 16:15] mivade opened #729 "Update requirements"
Currently the required version of `botocore` is out of date. When trying to install other tools in the same environment that require newer versions I get messages from pip like this:

[code]

In order to keep using `aiobotocore` these requirements should be relaxed.

[2019-09-26 18:45] Gloix opened #730 "Delete all objects from a bucket"
While trying to delete all objects in a bucket using the resource API:

    aioboto3.resource("s3").Bucket("my-bucket").objects.all().delete()

I get the following error:

    NotImplementedError: <aiobotocore.paginate.AioPageIterator object at 0x7f775d3900f0> is an AsyncIterable: use `async for`

In line 14 of the paginate.py file.

The error originates from [dist-packages/boto3/resources/collect

[2019-10-03 09:45] thehesiod commented on #730
This is an aioboto3 bug and not a aiobotocore bug. Please log there or reopen if I'm missing something

[2019-10-03 09:45] #730 closed

[2019-10-03 09:46] thehesiod commented on #729
They cannot be relaxed and you should be installing other modules that depend on botocore via our extras. Please read all our docs for details

[2019-10-03 09:46] #729 closed

[2019-10-03 15:31] mivade commented on #729
I did read the docs. Unfortunately that doesn't work for me because other packages I have installed in the same environment require different versions of `botocore`. Could you please elaborate on why they cannot be relaxed?

[2019-10-03 15:52] thehesiod commented on #729
Docs state is because of the right integration between the two. We inherit from their classes and replace various methods. What modules conflict. Did you try using our extras instead?

[2019-10-03 17:00] mivade commented on #729
If I recall correctly it was https://github.com/PyFilesystem/s3fs. (That's not natively async, but I was planning to work around that by using appropriate calls to `loop.run_in_executor`.)

[2019-10-04 04:34] thehesiod commented on #729
We can add that as an extra if you'd.  Please open a request for that.

[2019-10-05 02:11] thehesiod commented on #729
another option is having us bump up the botocore requirements, feel free to open request for that as well.  There's a doc for how to do that as well.

[2019-10-05 02:12] thehesiod opened #732 "bump botocore version"
we're triggering some incompatibilities: https://github.com/aio-libs/aiobotocore/issues/729

[2019-10-05 02:12] thehesiod commented on #729
actually just opened one :)

[2019-10-12 19:24] bbrendon commented on #732
Yes Please. botocore 1.12.248
We have an issue here needing this. https://github.com/home-assistant/home-assistant/issues/27418

[2019-10-19 22:47] thehesiod commented on #213
so I was thinking about this again and I think we could probably get all the tests working with an adapter layer, however it's going to be really complicating due to mocking, where botocore can replace individual methods/properties on classes, and this wouldn't make sense in aiobotocore since it would most likely be an async method...which means it would need to have an adapter as well.  Getting a

[2019-10-19 22:47] thehesiod commented on #213
plus, we're not stable yet, as we have a BIG upcoming change to correctly support the credentials class and a few other tidbits.  We'd need to be feature complete before we even started this endeavor.

[2019-10-24 08:17] dimaqq opened #738 "aiobotocore or aiohttp stuck after many requests"
**Describe the bug**
It's a bug that happens rarely in production.
We've not been able to reproduce it in an isolated environment yet.

The code in question is a background worker, it pulls a job from SQS and runs it.
The job in question was to delete 100s of objects, which means 800 concurrent coro's each of which issues 1..several concurrent `delete_item` calls.

`gather(800 obj = gather( 1+ del

[2019-10-24 08:19] dimaqq commented on #738
One thing to note is that the code in question does essentially:
[code]

While official `aiohttp` documentation appears to recommend:
[code]

[2019-10-24 16:52] thehesiod commented on #738
the session is aentered: https://github.com/aio-libs/aiobotocore/blob/master/aiobotocore/endpoint.py#L98

you need to make your code like the following to call aexit:
[code]

I've seen issues with newer aiohttp, could you try with 3.2.2 w/ python 3.6?  Another long standing issue is if you wait long enough, eventually botocore will attempt to refresh your credentials and that whole section hasn't

[2019-10-24 16:55] thehesiod commented on #619
just got permission to expose what our company has been using to resolve this issue internally: https://gist.github.com/thehesiod/05298c1c89c7b5a38da0abc4ccbed7b7

[2019-10-24 16:56] thehesiod commented on #738
ok added: https://gist.github.com/thehesiod/05298c1c89c7b5a38da0abc4ccbed7b7

[2019-10-24 16:57] thehesiod commented on #738
on the other hand, this looks like https://github.com/aio-libs/aiohttp/issues/4258

[2019-10-25 01:54] dimaqq commented on #738
re: credential refresh
I'm not well-versed in the deployment... Do I understand it right that if we don't use `AWS_PROFILE`, then there's nothing to refresh? As far as I can tell we don't use that.

[2019-10-25 05:17] dimaqq commented on #738
I've poked the instance where container is running:
* `security-credentials` are updated every hour
* they are valid for 8h30min
* process got stuck 40 minutes after latest update, that's 20 minutes before next 🤔
* process was running (mostly idle) 20h45min before it got stuck while executing a job

My hunch is, this is unrelated to credentials rollover.

It's something else, maybe connection pool

[2019-10-25 05:27] thehesiod commented on #738
I worked hard with 3.2.2 to ensure connect/read timeouts worked correctly.  DNS also has timeout in aiohttp.  can you try above suggestions re versions.

[2019-10-25 05:28] thehesiod commented on #738
I'm curious as well as we want to move to the new aiohttp and python releases, but cannot if socket timeouts are broken

[2019-10-25 05:41] dimaqq commented on #738
I've been able to interrogate 2 cases of stuck process now, in both cases:

I have exactly `99` "done" tasks in the task graph

This plus the active (stuck) task makes `100`.

There's no way that's an accident! (maybe `aiohttp` connection pool size?)

I think this could be reproduced by issuing many `delete_item()` calls in parallel and artificially slowing the network connection to ensure that ea

[2019-10-25 06:16] thehesiod commented on #738
sounds like an aiohttp issue, `max_pool_connections` is defaulted to 10: https://github.com/boto/botocore/blob/develop/botocore/endpoint.py#L35, which we obey: https://github.com/aio-libs/aiobotocore/blob/master/aiobotocore/endpoint.py#L176

[2019-10-25 06:18] thehesiod commented on #738
this really sounds like https://github.com/aio-libs/aiohttp/issues/4258, could you report there?  Note from linked bug: `We run aiohttp 3.6.2 before on Hass.io 190. After we had some issues with ingress, we detect that request going lost or more specific was blocked and never response inside aiohttp core.`

[2019-10-25 06:20] thehesiod commented on #738
actually first I would come up with a reproduceable test case.  You can use moto for mocking the backend.

[2019-10-25 06:34] dimaqq commented on #738
`100` was a red herring, sorry. It was batching in our code. Original comment edited.

[2019-10-28 21:57] thehesiod commented on #738
I've updated the issue template again for future issues to help narrow down the issue

[2019-10-29 04:38] dimaqq commented on #738
I wonder if something like https://github.com/aio-libs/aiobotocore/pull/724 might fix it...
I'll post an update when `0.10.4` is thoroughly tested.

[2019-10-30 07:40] thehesiod commented on #738
That was a no op, it was returning a future/coroutine before that could be awaited

[2019-10-30 13:06] erikistre opened #741 "Early Warning: aiohttp v4.0.0a1 has a breaking change in TCPConnector"
**Describe the bug**
My virtual environment was overzealous and picked up prerelease aiohttp v4.0.0a1. In that version, the `TCPConnector.__init__` no longer accepts a loop argument and the attempted construction of that object in aiobotocore/endpoint.py fails.

I've fixed my environment but I wanted to quickly notify maintainers here in case that change becomes permanent. I know nothing about the

[2019-10-30 23:08] asvetlov commented on #741
FYI aiohttp 3.x generates DeprecationWarning if the loop is passed.

[2019-10-30 23:56] erikistre commented on #741
Cool. I'll close this.

[2019-10-30 23:56] #741 closed

[2019-11-12 10:57] thehesiod commented on #732
done!  0.11.0 should be published soon

[2019-11-12 10:57] #732 closed

[2019-11-12 10:57] thehesiod commented on #695
done!

[2019-11-12 10:57] #695 closed

[2019-11-27 04:25] conraddd opened #746 "Async file io using aiofiles"
Anyone tried using put_object() with [aiofiles](https://github.com/Tinche/aiofiles) before? What I want to achieve is non-blocking file io when uploading file to aws s3. Seems the only option is to use aiofiles to handle file io. However I got error when I do so.

Here is the code
[code]
 Error
[code]

[2019-11-28 03:22] thehesiod commented on #746
It won't help as I discovered because botocore needs to read the whole file
to calculate it's md5. Unless you're talking about a network drive that can
be slow reading

On Tue, Nov 26, 2019, 11:25 PM Conrad <notifications@github.com> wrote:

[2020-01-11 12:57] graingert opened #749 "support pluggable http clients/coroutine frameworks (anyio/httpx)"
I'd like to be able to use aiobotocore in a project that uses trio and httpx

anyio provides a generic interface to curio/trio/asyncio that libraries can use to provide generic support for all async/await eventloops

aiobotocore would require users to pass a "request" coroutine function that provides all the http functionality that aiobotocore needs for http requests

[2020-01-11 12:58] graingert commented on #749
As far as I'm aware aiobotocore would need to replace all asyncio calls with the relevant anyio equivalent, and any gather/ensure_future with a nursary/spawn pattern instead

[2020-01-12 23:33] thehesiod commented on #749
should be done with https://github.com/aio-libs/aiobotocore/issues/619 which will cause a TON of refactoring and perhaps re-thinking this whole project

[2020-01-13 10:13] graingert commented on #749
I don't think #619 and this issue are really that coupled and could be completed in any order

[2020-01-28 00:06] parinmaru2 opened #750 "'async for' requires an object with __aiter__ method, got s3.Bucket.objectsCollection"
**Problem:**

I am using aioboto3 to create s3 resource.
And then I call s3 objects filter method:

[code]

I can't loop/iterate over this response:

[code]
Above async for throws this exception:
**'async for' requires an object with aiter method, got s3.Bucket.objectsCollection**

**Analysis**
It seems s3.Bucket.objectsCollection doesn't implement aiter() method

[2020-02-03 14:31] illia-v commented on #738
I've faced with the problem too while I was uploading 1000 objects to S3 with code similar to this one:
[code]

It happens around two of five retries, it uploads 999 files and stucks.

Python 3.7 and aiobotocore 0.11.1

[2020-02-03 15:08] jasonamyers opened #752 "Pinned Botocore version makes it difficult to install beside other packages"
**Describe the bug**
I'm having a hard time installing aiobotocore beside many of our common tools due to older botocore requirements.
`Could not find a version that matches botocore<1.13.15,<1.15.0,>=1.13.14,>=1.14.9`

**Checklist**
- [X] I have reproduced in environment where `pip check` passes without errors
- [X] I have provided `pip freeze` results
- [X] I have provided sample code or detaile

[2020-02-04 02:14] dimaqq commented on #738
Still getting stuck for me with following versions:

* Python 3.8.1
* aiobotocore 0.11.1
* aiodns 2.0.0
* aiohttp 3.6.2
* botocore 1.13.14
* boto3 1.10.14

It's kinda reproducible (not every time) in prod and staging against real aws dynamodb.
However it's not reproducible locally against `dynalite`.

I'm beginning to suspect it's somehow more complicated, for example, I'd guess that the dynamodb